section#contact-1__wrapper
    .tour-title.title-primary
        h2.title-shadow Resort4*
        h2.title-content Hòa Bình Phú Quốc
    .contact-1__section.container
        .contact-1__section--infor.table-row
            .contact-1__section--infor-items.column-2.column-3-pl.column-6-ts.column-12-mm
                .image
                    img(src="../assets/images/page/contact/hotline.png", alt="")
                .infor
                    p 84 (0) (2973) 99 6868 #[br] 0941 178 178
            .contact-1__section--infor-items.column-2.column-3-pl.column-6-ts.column-12-mm
                .image
                    img(src="../assets/images/page/contact/location.png", alt="")
                .infor
                    p 71 Trần Hưng Đạo, Khu phố 7, phường Dương Đông, thành phố Phú Quốc, Tỉnh Kiên Giang
            .contact-1__section--infor-items.column-2.column-3-pl.column-6-ts.column-12-mm
                .image
                    img(src="../assets/images/page/contact/email.png", alt="")
                .infor
                    p info@hoabinhphuquoc.com.vn
        .contact-1__section--map.column-10.margin-auto
            .map#map
                //- iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.7545318774883!2d108.25529691528816!3d15.974190246219882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142108bc85131af%3A0xe0e536208d071afc!2sThe%20American%20University%20in%20Vietnam%20(AUV)!5e0!3m2!1sen!2s!4v1615886539772!5m2!1sen!2s", frameborder="0") 