section#contact-1__wrapper
    .tour-title.title-primary
        h2.title-shadow Resort4*
        h2.title-content Hòa Bình Phú Quốc
    .contact-1__section.container
        .contact-1__section--infor.table-row
            .contact-1__section--infor-items.column-2.column-3-pl.column-6-ts.column-12-mm
                .image
                    img.lazyload(data-src="../assets/images/page/contact/hotline.png", alt="")
                .infor
                    p 84 (0) (2973) 99 6868 #[br] 0941 178 178
            .contact-1__section--infor-items.column-2.column-3-pl.column-6-ts.column-12-mm
                .image
                    img.lazyload(data-src="../assets/images/page/contact/location.png", alt="")
                .infor
                    p 71 Trần Hưng Đạo, Khu phố 7, phường Dương Đông, thành phố Phú Quốc, Tỉnh Kiên Giang
            .contact-1__section--infor-items.column-2.column-3-pl.column-6-ts.column-12-mm
                .image
                    img.lazyload(data-src="../assets/images/page/contact/email.png", alt="")
                .infor
                    p info@hoabinhphuquoc.com.vn
        .contact-1__section--map.column-10.margin-auto
            //- .map#map
            <div id="map" class="map" data-lat="-34.397" data-lng="150.644"></div>