section#contact-2__wrapper
    .container
        .contact-2.column-6.column-7-tx.column-8-tl.column-12-ts.margin-auto
            .form(form="")
                .form--title Form Liên Hệ
                .form--input.table-row
                    .input.column-12-ml.col-6
                        input(type="text" placeholder="Tên của bạn*")
                    .input.column-12-ml.col-6
                        input(type="text" placeholder="Email của bạn*")
                    .input.column-12
                        input(type="text" placeholder="Tiêu đề")
                    .input.column-12
                        textarea(id="w3review" rows="4" cols="50" placeholder="Lời nhắn*")
                    .input-btn
                        input(type="submit" value="Gửi yêu cầu")
