#intro-2__wrapper{
    @include spaceIntro(p142, padding);
    background: map-get($color, intro-bg-2 );
    .intro-2__section{
        position: relative;
        @include blockIntro-2(Intro-1,height);
        .swiper-pagination{
            bottom: -25px;
            display: flex;
            justify-content: center;
            right: 0;
            .swiper-pagination-bullet{
                margin-left: 15px;
                
            }
        }
        .intro-2{
            height: 100%;
            position: unset;
        }
        .swiper-slide{
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center
        }
        &--image{
            @include spaceIntro(p-r-72,padding-right);
            .image{
                height: 100%;
                width: 100%;
            }
        }
        &--text{
            &-title{
                text-transform: uppercase;
                @include spaceIntro(m-b-35, margin-bottom);
                @include size(s26);
                a{
                    color: map-get($color, main );
                }
                @include rp(pm){
                    font-size: 4.0rem;
                }
                @include rp(ps){
                    font-size: 3.6rem;
                }
                @include rp(tx){
                    font-size: 3.2rem;
                }
                @include rp(tl){
                    font-size: 3rem;
                }
                @include rp(ts){
                    font-size: 2.8rem;
                }
                @include rp(mm){
                    font-size: 3rem;
                }
                @include rp(sl){
                    font-size: 2.4rem;
                }
                @include family--second;
                font-weight: bold;
                color: map-get($color, main );
            }
            &-decs{
                @include p-line-clamp(7);
                color: map-get($color, base );
            }
        }
    }
}