if banner
  - var attributes = {};
  - attributes["data-src"] = imgBanner;

  section#banner
    .slide-banner
      .swiper-container
        .swiper-wrapper 
          .swiper-slide
            .banner
              .overlay
              .banner-img 
                img.lazyload(alt="banner")&attributes(attributes)
              .container
                .banner-content
                  .banner-content__titleSub
                      h3 welcome to
                  .banner-content__title
                    h2 Hòa Bình Phú Quốc
                  .banner-content__desc
                    p resort
          .swiper-slide
            .banner
              .overlay
              .banner-img 
                img.lazyload(alt="banner")&attributes(attributes)
              .container
                .banner-content
                  .banner-content__titleSub
                      h3 welcome to
                  .banner-content__title
                    h2 Hòa Bình Phú Quốc
                  .banner-content__desc
                    p resort
          .swiper-slide
            .banner
              .overlay
              .banner-img 
                img.lazyload(alt="banner")&attributes(attributes)
              .container
                .banner-content
                  .banner-content__titleSub
                      h3 welcome to
                  .banner-content__title
                    h2 Hòa Bình Phú Quốc
                  .banner-content__desc
                    p resort
          .swiper-slide
            .banner
              .overlay
              .banner-img 
                img.lazyload(alt="banner")&attributes(attributes)
              .container
                .banner-content
                  .banner-content__titleSub
                      h3 welcome to
                  .banner-content__title
                    h2 Hòa Bình Phú Quốc
                  .banner-content__desc
                    p resort
