if banner
  - var attributes = {};
  - attributes.src = imgBanner;
  - attributes.style = styleBanner;

  section#banner
    .banner
      .banner--overlay
      .banner-img 
        img.lazyload(data-src="#{imgBanner}" alt="banner")&attributes(attributes)
      .banner-content.overlay.container
        .banner-content__title
          h2.banner-content__title--size.uppercase #{titleBanner} 
        .banner-content__desc
          p.banner-content__desc--size #{textBanner}
