//- if banner
//-   - var attributes = {};
//-   - attributes.src = imgBanner;
//-   - attributes.style = styleBanner;

section#banner
  .banner
    .overlay
    .banner-img 
      img.lazyload(data-src="./assets/images/layout/banner/HBPQ 1.png" alt="banner")
    .container
      .banner-content
        .banner-content__titleSub
            h3 welcome to
        .banner-content__title
          h2 Hòa Bình Phú Quốc
        .banner-content__desc
          p resort
