footer#footer
    .footer_wrapper.container.table-row
        .footer-1.column-3 
            .footer-1__link
                ul
                    li.items
                        a(href="") trang chủ
                    li.items
                        a(href="") giới thiệu
                    li.items
                        a(href="") phòng nghỉ
                    li.items
                        a(href="") ẩm thực
                    li.items
                        a(href="") tiệc cưới
                ul 
                    li.items
                        a(href="") hội nghị
                    li.items
                        a(href="") ưu đãi
                    li.items
                        a(href="") dịch vụ
                    li.items
                        a(href="") tiện ích
                    li.items
                        a(href="") thư viện
            hr
            .footer-1__policy
                ul 
                    li.items
                        a(href="") chính sách bảo mật
                    li.items
                        a(href="") điều kiện - chính sách
                    li.items.policy
                        a(href="")
                            img(src="../assets/images/page/footer/policy.png", alt="")
        .footer-2.column-4
            .footer-2__title
                p HÒA BÌNH PHÚ QUỐC RESORT
            .footer-2__infor 
                .footer-2__infor--items
                    img(src="../assets/images/page/footer/location.png", alt="")
                    p 71 Trần Hưng Đạo, Khu phố 7, phường Dương Đông, thành phố Phú Quốc, Tỉnh Kiên Giang
                .footer-2__infor--items    
                    img(src="../assets/images/page/footer/email.png", alt="")
                    p info@hoabinhphuquoc.com.vn
                .footer-2__infor--items    
                    img(src="../assets/images/page/footer/phone.png", alt="")
                    p 84 (0) (2973) 99 6868 #[br]0941 178 178
                .footer-2__infor--items    
                    img(src="../assets/images/page/footer/hotline.png", alt="")
                    p 84 (0) (2973) 99 5789
            .footer__more
                .footer__more--title
                    p các mạng xã hội
                .footer__more--pic
                    img(src="../assets/images/page/footer/facebook.png", alt="")
                    img(src="../assets/images/page/footer/instagram.png", alt="")
                    img(src="../assets/images/page/footer/linkedIn.png", alt="")
                    img(src="../assets/images/page/footer/facebook.png", alt="")
        .footer-3.column-4
            .footer-3__title
                p đăng ký nhận tin
            .footer-3__form
                .footer-3__form--input
                    input(type="text" placeholder="Nhập Email")
                input(type="submit" value="Đăng kí").btn-submit
            .footer-3__pay
                .footer__more
                    .footer__more--title
                        p Thanh toán trực tiếp tại khách sạn
                    .footer__more--pic
                        img(src="../assets/images/page/footer/pay-1.png", alt="")
                        img(src="../assets/images/page/footer/pay-2.png", alt="")
                        img(src="../assets/images/page/footer/pay-3.png", alt="")
                        img(src="../assets/images/page/footer/pay-4.png", alt="")
                .footer__more
                    .footer__more--title
                        p thanh toán thông qua website
                    .footer__more--pic
                        img(src="../assets/images/page/footer/one-pay.png", alt="").one-pay
                    