header#header 
  .header 
    .header-top
      .container 
        .header-top__content 
          .content
            .content-info 
              .content-info__item.content-info__phone
                .content-info__item-icon
                  <svg xmlns="http://www.w3.org/2000/svg" width="15.749" height="14.95" viewBox="0 0 15.749 14.95">
                    <g id="noun_Phone_1995412" transform="translate(-5.08 -4.829)">
                      <path id="Path_116" data-name="Path 116" d="M23.225,20.048a5.374,5.374,0,0,1-1.065,1.56c-1.734,1.647-6.39.173-10.223-3.468s-5.386-8.034-3.651-9.71A6.172,6.172,0,0,1,9.929,7.42a1.225,1.225,0,0,1,1.4.347l1.917,2.312a1.093,1.093,0,0,1-.152,1.56c-.487.4-.822.694-.913.78-.73.694.335,2.167,1.947,3.7s3.134,2.572,3.895,1.849c.091-.087.4-.4.822-.867a1.234,1.234,0,0,1,1.643-.144l2.434,1.821A.993.993,0,0,1,23.225,20.048Z" transform="translate(-2.5 -2.5)" fill="#fff"/>
                    </g>
                  </svg>
                .content-info__item-span
                  span 0941178178
              .content-info__item.content-info__email
                .content-info__item-icon
                  <svg id="noun_Mail_3424360" xmlns="http://www.w3.org/2000/svg" width="21.127" height="15.185" viewBox="0 0 21.127 15.185">
                    <path id="Path_117" data-name="Path 117" d="M9.4,12.753a2.311,2.311,0,0,0,2.892,0l8.339-6.6a.66.66,0,0,0,.033-1A2.278,2.278,0,0,0,19.095,4.5H2.589a2.3,2.3,0,0,0-1.552.607.655.655,0,0,0,.033,1Z" transform="translate(-0.278 -4.5)" fill="#fff"/>
                    <path id="Path_118" data-name="Path 118" d="M28.418,19.925a2.3,2.3,0,0,0,.211-.951V9.21L22.08,14.432Z" transform="translate(-7.502 -6.1)" fill="#fff"/>
                    <path id="Path_119" data-name="Path 119" d="M6.549,14.422,0,9.18v9.784a2.3,2.3,0,0,0,.211.951Z" transform="translate(0 -6.09)" fill="#fff"/>
                    <path id="Path_120" data-name="Path 120" d="M20.454,24.312l-6.47-5.605-.231.185a3.961,3.961,0,0,1-4.952,0L8.57,18.7,2.1,24.312a2.278,2.278,0,0,0,.924.2H19.53A2.278,2.278,0,0,0,20.454,24.312Z" transform="translate(-0.714 -9.325)" fill="#fff"/>
                  </svg>
                .content-info__item-span
                  span info@hoabinhphuquoc.com.vn
              .content-info__item.content-info__language
                .content-info__item-language.language
                  .language-active
                    .language-content
                      //- .language-content__img 
                      //-   img(src="./assets/images/layout/header/vi.png", alt="VI")
                      //- .language-content__code
                      //-   span VI 
                    .language-icon 
                      <svg xmlns="http://www.w3.org/2000/svg" width="10.325" height="6.283" viewBox="0 0 10.325 6.283">
                        <path id="Path_5" data-name="Path 5" d="M1742.5,38l4,3.5L1750,38" transform="translate(-1741.089 -36.586)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                      </svg>

                  ul.language-list
                    li.language-list__item.active(data-lang="vi1")
                      .language-content__img 
                        img(src="./assets/images/layout/header/vi.png", alt="VI")
                      .language-content__code
                        span VI1
                    li.language-list__item(data-lang="vi")
                      .language-content__img 
                        img(src="./assets/images/layout/header/vi.png", alt="VI")
                      .language-content__code
                        span VI2
                    li.language-list__item(data-lang="vi")
                      .language-content__img 
                        img(src="./assets/images/layout/header/vi.png", alt="VI")
                      .language-content__code
                        span VI3
                    li.language-list__item(data-lang="vi")
                      .language-content__img 
                        img(src="./assets/images/layout/header/vi.png", alt="VI")
                      .language-content__code
                        span VI4
            
            .content-order
              a(href="").content-order__link
                span ĐẶT PHÒNG 
                <svg xmlns="http://www.w3.org/2000/svg" width="14.33" height="13.247" viewBox="0 0 14.33 13.247">
                  <g id="Group_4951" data-name="Group 4951" transform="translate(-1783.75 -24.378)">
                    <path id="Path_10704" data-name="Path 10704" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(83.121 -2390.354)" fill="none" stroke="#ed1c24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <line id="Line_38" data-name="Line 38" x2="10.75" transform="translate(1784.75 31)" fill="none" stroke="#ed1c24" stroke-linecap="round" stroke-width="2"/>
                  </g>
                </svg>
              .content-order__popup 
                
    .header-main
      .container
        a(href="./").header-main__logo
            img(src="./assets/icons/logoHeader.png", alt="logo header")
        ul.header-main__nav
          li.header-main__nav-item.active
            a(href="./") Trang chủ
          li.header-main__nav-item
            a(href="./restroom.html") Phòng nghỉ
          li.header-main__nav-item
            a(href="./cuisine.html") Ẩm thực
          li.header-main__nav-item
            a(href="./wedding.html") Tiệc cưới
          li.header-main__nav-item
            a(href="./forum.html") Hội nghị
          li.header-main__nav-item
            a(href="./endow.html") Ưu đãi
          li.header-main__nav-item
            a(href="./service.html") Dịch vụ
          li.header-main__nav-item
            a(href="./utilities.html") Tiện ích
          li.header-main__nav-item
            a(href="./library.html") Thư viện
          li.header-main__nav-item
            a(href="./") Liên hệ
        .header-main__button
          .header-main__button-border

