section#library-1__wrapper
    .tour-title.title-primary
        h2.title-shadow HìnhẢnh,Video
        h2.title-content Thư Viện
    .section-box
        .container
            .image__section.column-10
                .image__section--title
                    p Hình Ảnh 
                .image__section--image#library-1
                    .box-list.library-1
                        .box
                            img(src="../assets/images/page/library/image-sec-1.png", alt="")
                        .box
                            img(src="../assets/images/page/library/image-sec-1.png", alt="")
                        .box
                            img(src="../assets/images/page/library/image-sec-1.png", alt="")
                        .box
                            img(src="../assets/images/page/library/image-sec-1.png", alt="")
                        .box
                            img(src="../assets/images/page/library/image-sec-1.png", alt="")
                        .box
                            img(src="../assets/images/page/library/image-sec-1.png", alt="")
                    ul.box-pagination
            .video__section.column-10
                .video__section--title
                    p Video
                .video__section--video
                            