section#library-1__wrapper
    .tour-title.title-primary
        h2.title-shadow HìnhẢnh,Video
        h2.title-content Thư Viện
    .section-box
        .container
            .image__section.column-10
                .image__section--title
                    p Hình Ảnh 
                .image__section--image
            .video__section.column-10
                .video__section--title
                    p Video
                .video__section--image
                            