section#library-1__wrapper
    .tour-title.title-primary
        h2.title-shadow HìnhẢnh,Video
        h2.title-content Thư Viện
    .section-box
        .container
            .image__section.column-10.column-12-ps
                .image__section--title
                    p Hình Ảnh 
                .image__section--image#library-1
                    .box-list.library-1
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-1.png", alt="images 1")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-2.png", alt="images 2")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/introduction/sec-1-3.png", alt="images 3")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-4.png", alt="images 4")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-5.png", alt="images 5")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-6.png", alt="images 6")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-3.png", alt="images 7")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-2.png", alt="images 8")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-5.png", alt="images 9")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-1.png", alt="images 10")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-4.png", alt="images 11")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-6.png", alt="images 12")
                    
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-1.png", alt="images 13")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-2.png", alt="images 14")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-3.png", alt="images 15")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-4.png", alt="images 16")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-5.png", alt="images 17")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-6.png", alt="images 18")
                    
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-1.png", alt="images 19")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-2.png", alt="images 20")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-3.png", alt="images 21")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-4.png", alt="images 22")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-5.png", alt="images 23")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-6.png", alt="images 24")
                    
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-1.png", alt="images 25")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-2.png", alt="images 26")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-3.png", alt="images 27")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-4.png", alt="images 28")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-5.png", alt="images 29")
                        .box-list__items--image
                            img.lazyload(data-src="./assets/images/page/library/sec-image-6.png", alt="images 30")
                    ul.box-pagination
            .video__section.column-10.column-12-ps
                .video__section--title
                    p Video
                .video__section--video#library-2
                    .box-list
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 01" data-play="./assets/icons/video.png") 

                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 02" data-play="./assets/icons/video.png")
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 03" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 04" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 05" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 06" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 07" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 08" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 09" data-play="./assets/icons/video.png") 
                        .box-list__items(data-url="tgbNymZ7vqY" data-alt="video 10" data-play="./assets/icons/video.png") 
                            
                    ul.box-pagination
