section#library-1__wrapper
    .tour-title.title-primary
        h2.title-shadow HìnhẢnh,Video
        h2.title-content Thư Viện
    .section-box
        .container
            .image__section.column-10
                .image__section--title
                    p Hình Ảnh 
                .image__section--image#library-1
                    .box-list.library-1
                        .box-list__items
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-1.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-2.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/introduction/sec-1-3.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-4.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-5.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-6.png", alt="")
                        .box-list__items
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-3.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-2.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-5.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-1.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-4.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-6.png", alt="")
                        .box-list__items
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-1.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-2.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-3.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-4.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-5.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-6.png", alt="")
                        .box-list__items
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-1.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-2.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-3.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-4.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-5.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-6.png", alt="")
                        .box-list__items
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-1.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-2.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-3.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-4.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-5.png", alt="")
                            .box-list__items--image
                                img(src="../assets/images/page/library/image-sec-6.png", alt="")
                    ul.box-pagination
            .video__section.column-10
                .video__section--title
                    p Video
                .video__section--video#library-2
                    .box-list
                        .box-list__items
                            .box-list__items--top
                                .box-list__items--top-big
                                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                .box-list__items--top-small
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                            .box-list__items--bottom
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                        .box-list__items
                            .box-list__items--top
                                .box-list__items--top-big
                                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                .box-list__items--top-small
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                            .box-list__items--bottom
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                        .box-list__items
                            .box-list__items--top
                                .box-list__items--top-big
                                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                .box-list__items--top-small
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                            .box-list__items--bottom
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                        .box-list__items
                            .box-list__items--top
                                .box-list__items--top-big
                                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                .box-list__items--top-small
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                    iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                            .box-list__items--bottom
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                                iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY")
                    ul.box-pagination
