section#intro-1__wrapper
    .container
        .intro-1__section
            .intro-1__section--image.column-6
                .intro-1
                    .image__pic
                        img.lazyload(data-src="./assets/images/page/introduction/sec-1-1.png", alt="")
                    .image__pic
                        img.lazyload(data-src="./assets/images/page/introduction/sec-1-3.png", alt="")
                    .image__pic
                        img.lazyload(data-src="./assets/images/page/introduction/sec-1-3.png", alt="")
                        
            .intro-1__section--text.column-5
                .intro-1__section--text-headtitle
                    p Giới thiệu
                .intro-1__section--text-title
                    a(href="")  Hòa Bình Phú Quốc Resort
                .intro-1__section--text-decs
                    p Tọa lạc tại trung tâm phường Dương Đông, thành phố Phú Quốc, với vị thế tựa lưng vào đồi Bà Kèo, mặt hướng ra biển, Hòa Bình Phú Quốc Resort là khu nghỉ dưỡng khang trang, hiện đại, đạt tiêu chuẩn 4 sao với gần 200 phòng nghỉ đầy đủ tiện nghi. Quý khách chỉ cần 5 phút tản bộ để có thể đến bãi biển và đắm mình vào làn nước trong xanh hoặc khám phá chợ đêm náo nhiệt chỉ trong vòng 10 phút đi bộ.
                    p Tự hào sở hữu một trong những khu vườn thoáng đãng, xanh tươi, trăm hoa khoe sắc, mang lại cho du khách cảm giác bình yên và gần gũi với thiên nhiên, cùng với đội ngũ nhân viên chuyên nghiệp, nhiệt tình, giàu lòng mến khách, Hòa Bình Phú Quốc Resort nhất định sẽ là lựa chọn lý tưởng của Quý khách khi đến hòn đảo ngọc xinh đẹp này