section#intro-2__wrapper
    .container
        .intro-2__section
            .swiper-container.intro-2
                .swiper-wrapper  
                    .swiper-slide
                        .intro-2__section--image.column-4
                            .image
                                img(src="../assets/images/page/introduction/sec-1-3.png", alt="")
                        .intro-2__section--text.column-6
                            .intro-2__section--text-title
                                p Giải thưởng Doanh nghiệp #[br]“ Resort có cảnh quan đẹp hàng đầu trong năm 2019” #[br]do Hiệp hội Du lịch Việt Nam bình chọn.
                            .intro-2__section--text-decs
                                p Tọa lạc ngay tại trung tâm Thị Trấn Dương Đông, nhưng với diện tích trải dài theo sườn đồi, không gian rộng rãi, thoáng mát. Bên cạnh đó, nhờ sự đầu tư và chú trọng đặc biệt đến mảng xanh của sân vườn, đã mang lại môi trường xanh tươi cho Quý khách ngay cả khi đang lưu trú trong lòng Thị Trấn ồn ào, náo nhiệt. Quý khách thỏa sức tận hưởng không khí trong lành, hòa mình với thiên nhiên và đắm chìm trong vườn hoa muôn màu muôn vẻ của khách sạn.
                    .swiper-slide
                        .intro-2__section--image.column-4
                            .image
                                img(src="../assets/images/page/introduction/sec-1-3.png", alt="")
                        .intro-2__section--text.column-6
                            .intro-2__section--text-title
                                p Giải thưởng Doanh nghiệp #[br]“ Resort có cảnh quan đẹp hàng đầu trong năm 2019” #[br]do Hiệp hội Du lịch Việt Nam bình chọn.
                            .intro-2__section--text-decs
                                p Tọa lạc ngay tại trung tâm Thị Trấn Dương Đông, nhưng với diện tích trải dài theo sườn đồi, không gian rộng rãi, thoáng mát. Bên cạnh đó, nhờ sự đầu tư và chú trọng đặc biệt đến mảng xanh của sân vườn, đã mang lại môi trường xanh tươi cho Quý khách ngay cả khi đang lưu trú trong lòng Thị Trấn ồn ào, náo nhiệt. Quý khách thỏa sức tận hưởng không khí trong lành, hòa mình với thiên nhiên và đắm chìm trong vườn hoa muôn màu muôn vẻ của khách sạn.
                    .swiper-slide
                        .intro-2__section--image.column-4
                            .image
                                img(src="../assets/images/page/introduction/sec-1-3.png", alt="")
                        .intro-2__section--text.column-6
                            .intro-2__section--text-title
                                a(href="") Giải thưởng Doanh nghiệp #[br]“ Resort có cảnh quan đẹp hàng đầu trong năm 2019” #[br]do Hiệp hội Du lịch Việt Nam bình chọn.
                            .intro-2__section--text-decs
                                p Tọa lạc ngay tại trung tâm Thị Trấn Dương Đông, nhưng với diện tích trải dài theo sườn đồi, không gian rộng rãi, thoáng mát. Bên cạnh đó, nhờ sự đầu tư và chú trọng đặc biệt đến mảng xanh của sân vườn, đã mang lại môi trường xanh tươi cho Quý khách ngay cả khi đang lưu trú trong lòng Thị Trấn ồn ào, náo nhiệt. Quý khách thỏa sức tận hưởng không khí trong lành, hòa mình với thiên nhiên và đắm chìm trong vườn hoa muôn màu muôn vẻ của khách sạn.
                .swiper-pagination