section#intro-4__wrapper
    .tour-title.title-primary
        h2.title-shadow KinhNghiệm
        h2.title-content Cẩm Nang Du Lịch
    .intro-4__section
        .nav-custom 
            .swiper-container.intro-4
                .swiper-wrapper
                    .swiper-slide
                        .section(data-box="1")
                            .section__img-section
                                img.lazyload(data-src="./assets/images/page/introduction/sec-4-1.png", alt="")
                            .section__title-section
                                p.title Nam đảo
                            .section__content-section
                                p.title Nam đảo
                                p.decs Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
                                a.btn-link--more(href="./intro-nam-dao") Xem thêm
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                    </svg>
                    .swiper-slide
                        .section(data-box="2")
                            .section__img-section
                                img.lazyload(data-src="./assets/images/page/introduction/sec-4-2.png", alt="")
                            .section__title-section
                                p.title Trung đảo
                            .section__content-section
                                p.title Trung đảo
                                p.decs Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
                                a.btn-link--more(href="./intro-trung-dao") Xem thêm
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                    </svg>
                    .swiper-slide
                        .section(data-box="3")
                            .section__img-section
                                img.lazyload(data-src="./assets/images/page/introduction/sec-4-3.png", alt="")
                            .section__title-section
                                p.title Bắc đảo
                            .section__content-section
                                p.title Nam đảo
                                p.decs Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
                                a.btn-link--more(href="./intro-bac-dao") Xem thêm
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                    </svg>
                .swiper-pagination

        .travel-popup--overlay
            .travel-popup
                .popup
                    .path-restroom
                    .popup-close 
                    .popup-wrapper 
                        .container
                            .popup-wrapper--bg.column-8.column-10-ps.column-12-tl
                                .popup-wrapper__travel
                                    .travel
                                        .travel-img 
                                            img.lazyload(data-src="./assets/images/page/introduction/popup-travel.png", alt="travel")
                                        .travel-content 
                                            .travel-content__item
                                                .travel-content__item-title 
                                                    h3 Ăn gì?
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.247" height="12.15" viewBox="0 0 13.247 12.15">
                                                        <g id="Group_5589" data-name="Group 5589" transform="translate(572.841 -1427.118) rotate(90)">
                                                            <g id="Group_4724" data-name="Group 4724" transform="translate(-280.405 -1859.23)">
                                                            <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                            <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                .travel-content__item-desc
                                                    p Phú Quốc có nhiều bãi biển đẹp trải dài từ phía bắc đến phía nam, có 99 ngọn núi đồi và dãy rừng nguyên sinh với hệ động thực vật phong phú. Phía Bắc của đảo có làng chài Rạch Vẹm, Bãi Thơm, Hòn Một,… nổi bật với vẻ đẹp hoang sơ hay ở Nam Đảo có 12 hòn đảo nhỏ to khác nhau thuộc quần đảo An Thới có thể kể đến như Hòn Thơm, Hòn Móng Tay, Hòn Gầm Ghì, Hòn Mây Rút,… là những nơi lý tưởng cho các hoạt động khám phá thiên nhiên cùng các hoạt động trên biển như du thuyền, câu cá, lặn ngắm san hô và khám phá đảo hoang kỳ thú…
                                            .travel-content__item
                                                .travel-content__item-title 
                                                    h3 Ăn gì?
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.247" height="12.15" viewBox="0 0 13.247 12.15">
                                                        <g id="Group_5589" data-name="Group 5589" transform="translate(572.841 -1427.118) rotate(90)">
                                                            <g id="Group_4724" data-name="Group 4724" transform="translate(-280.405 -1859.23)">
                                                            <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                            <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                .travel-content__item-desc
                                                    p Phú Quốc có nhiều bãi biển đẹp trải dài từ phía bắc đến phía nam, có 99 ngọn núi đồi và dãy rừng nguyên sinh với hệ động thực vật phong phú. Phía Bắc của đảo có làng chài Rạch Vẹm, Bãi Thơm, Hòn Một,… nổi bật với vẻ đẹp hoang sơ hay ở Nam Đảo có 12 hòn đảo nhỏ to khác nhau thuộc quần đảo An Thới có thể kể đến như Hòn Thơm, Hòn Móng Tay, Hòn Gầm Ghì, Hòn Mây Rút,… là những nơi lý tưởng cho các hoạt động khám phá thiên nhiên cùng các hoạt động trên biển như du thuyền, câu cá, lặn ngắm san hô và khám phá đảo hoang kỳ thú…

 
                                            .travel-content__item
                                                .travel-content__item-title 
                                                    h3 Ăn gì?
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.247" height="12.15" viewBox="0 0 13.247 12.15">
                                                        <g id="Group_5589" data-name="Group 5589" transform="translate(572.841 -1427.118) rotate(90)">
                                                            <g id="Group_4724" data-name="Group 4724" transform="translate(-280.405 -1859.23)">
                                                            <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                            <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                .travel-content__item-desc
                                                    p Phú Quốc có nhiều bãi biển đẹp trải dài từ phía bắc đến phía nam, có 99 ngọn núi đồi và dãy rừng nguyên sinh với hệ động thực vật phong phú. Phía Bắc của đảo có làng chài Rạch Vẹm, Bãi Thơm, Hòn Một,… nổi bật với vẻ đẹp hoang sơ hay ở Nam Đảo có 12 hòn đảo nhỏ to khác nhau thuộc quần đảo An Thới có thể kể đến như Hòn Thơm, Hòn Móng Tay, Hòn Gầm Ghì, Hòn Mây Rút,… là những nơi lý tưởng cho các hoạt động khám phá thiên nhiên cùng các hoạt động trên biển như du thuyền, câu cá, lặn ngắm san hô và khám phá đảo hoang kỳ thú…

 
