section#wedding1
    .wedding-banner__img
        img(src="./assets/images/page/wedding/banner.png", alt="") 
        .wedding-banner__img-inner
            .breadcrumb
                .breadcrumb-list
                    .breadcrumb-list-item
                        p Trang chủ
                    .breadcrumb-list-item
                        p Tiệc cưới
