section#wedding2
    .wedding2
        .wedding-banquetHall
            .container
                .content
                    .content__left
                        .content__intro 
                            .content__title 
                                h2 Sảnh tiệc
                            .content__desc 
                                p Tọa lạc tại trung tâm thị trấn Dương Đông, nhà hàng Hòa Bình được đánh giá là một trong những nhà hàng tiệc cưới lớn nhất tại huyện đảo Phú Quốc. Với sảnh tiệc sang trọng, hệ thống âm thanh, ánh sáng hiện đại, nghi lễ cưới ấn tượng, phong cách ẩm thực tinh tế và cung cách phục vụ ân cần, chuyên nghiệp, tất cả là sự kết hợp hoàn hảo để đem lại cho Quý khách những khoảnh khắc hạnh phúc với sự hài lòng tuyệt đối. Với mức giá hợp lý, cùng nhiều khuyến mãi hấp dẫn, sẽ góp phần cho ngày vui của Quý khách thêm trọn vẹn.  
                        ul.content__list
                            li.content__items.active(data-active="1")
                                p.content__items--desc Sảnh tiệc lớn
                            li.content__items(data-active="2")
                                p.content__items--desc Sảnh tiệc trung
                            li.content__items(data-active="3") 
                                p.content__items--desc Sảnh tiệc nhỏ
                    .content__right
                        .content__silde.active(data-active="1")
                                .swiper-container.content--swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="1")
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="1")
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="1")
                                    .swiper-pagination
                        .content__silde(data-active="2")
                                .swiper-container.content--swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="2")
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="2")
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="2")
                                    .swiper-pagination
                        .content__silde(data-active="3")
                                .swiper-container.content--swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="3")
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="3")
                                        .swiper-slide
                                            .content__img
                                                img(src="./assets/images/page/wedding/w-2.png" alt="3")
                                    .swiper-pagination