section#wedding2
    .wedding-container
        .wedding-container__content.column-12
            .wedding-container__left.column-5
                ul.wedding-container__left--list
                    li.wedding-container__left--items
                        p.wedding-container__left--desc(data-active="1").active Sảnh Tiệc 
                    li.wedding-container__left--items
                        p.wedding-container__left--desc(data-active="2") Sảnh tiệc lớn
                    li.wedding-container__left--items
                        p.wedding-container__left--desc(data-active="3") Sảnh tiệc trung
                    li.wedding-container__left--items
                        p.wedding-container__left--desc(data-active="4") Sảnh tiệc nhỏ
            .wedding-container__left.column-6