section#wedding2
    .wedding-container
        .wedding-content.column-12
            .wedding-content__left.column-5
                ul.wedding-content__left--list
                    li.items
                        p.title(data-active="1").active Sảnh Tiệc 
                        p.decs Tọa lạc tại trung tâm thị trấn Dương Đông, nhà hàng Hòa Bình được đánh giá là một trong những nhà hàng tiệc cưới lớn nhất tại huyện đảo Phú Quốc. Với sảnh tiệc sang trọng, hệ thống âm thanh, ánh sáng hiện đại, nghi lễ cưới ấn tượng, phong cách ẩm thực tinh tế và cung cách phục vụ ân cần, chuyên nghiệp, tất cả là sự kết hợp hoàn hảo để đem lại cho Quý khách những khoảnh khắc hạnh phúc với sự hài lòng tuyệt đối.Với mức giá hợp lý, cùng nhiều khuyến mãi hấp dẫn, sẽ góp phần cho ngày vui của Quý khách thêm trọn vẹn.
                    li.items
                        p.title(data-active="2") Sảnh tiệc lớn
                        p.decs Tọa lạc tại trung tâm thị trấn Dương Đông, nhà hàng Hòa Bình được đánh giá là một trong những nhà hàng tiệc cưới lớn nhất tại huyện đảo Phú Quốc. Với sảnh tiệc sang trọng, hệ thống âm thanh, ánh sáng hiện đại, nghi lễ cưới ấn tượng, phong cách ẩm thực tinh tế và cung cách phục vụ ân cần, chuyên nghiệp, tất cả là sự kết hợp hoàn hảo để đem lại cho Quý khách những khoảnh khắc hạnh phúc với sự hài lòng tuyệt đối.Với mức giá hợp lý, cùng nhiều khuyến mãi hấp dẫn, sẽ góp phần cho ngày vui của Quý khách thêm trọn vẹn.
                    li.items
                        p.title(data-active="3") Sảnh tiệc trung
                        p.decs Tọa lạc tại trung tâm thị trấn Dương Đông, nhà hàng Hòa Bình được đánh giá là một trong những nhà hàng tiệc cưới lớn nhất tại huyện đảo Phú Quốc. Với sảnh tiệc sang trọng, hệ thống âm thanh, ánh sáng hiện đại, nghi lễ cưới ấn tượng, phong cách ẩm thực tinh tế và cung cách phục vụ ân cần, chuyên nghiệp, tất cả là sự kết hợp hoàn hảo để đem lại cho Quý khách những khoảnh khắc hạnh phúc với sự hài lòng tuyệt đối.Với mức giá hợp lý, cùng nhiều khuyến mãi hấp dẫn, sẽ góp phần cho ngày vui của Quý khách thêm trọn vẹn.
                    li.items
                        p.title(data-active="4") Sảnh tiệc nhỏ
                        p.decs Tọa lạc tại trung tâm thị trấn Dương Đông, nhà hàng Hòa Bình được đánh giá là một trong những nhà hàng tiệc cưới lớn nhất tại huyện đảo Phú Quốc. Với sảnh tiệc sang trọng, hệ thống âm thanh, ánh sáng hiện đại, nghi lễ cưới ấn tượng, phong cách ẩm thực tinh tế và cung cách phục vụ ân cần, chuyên nghiệp, tất cả là sự kết hợp hoàn hảo để đem lại cho Quý khách những khoảnh khắc hạnh phúc với sự hài lòng tuyệt đối.Với mức giá hợp lý, cùng nhiều khuyến mãi hấp dẫn, sẽ góp phần cho ngày vui của Quý khách thêm trọn vẹn.
            .wedding-content__right.column-6
                .wedding-content__right--list
                    .nav-custom
                        .swiper-container.home-swiper-2
                            .swiper-wrapper
                                .swiper-slide(data-active="1")
                                    .slide
                                        .img-wrapper
                                                img(src="./assets/images/page/wedding/w-2.png")
                                .swiper-slide(data-active="2")
                                    .slide
                                        .img-wrapper
                                                img(src="./assets/images/page/wedding/w-2.png")
                                .swiper-slide(data-active="3")
                                    .slide
                                        .img-wrapper
                                                img(src="./assets/images/page/wedding/w-2.png")
                                .swiper-slide(data-active="4")
                                    .slide
                                        .img-wrapper
                                                img(src="./assets/images/page/wedding/w-2.png")
                        .w3-badgedemow3-border.w3-transparent.w3-hover-white
                        .w3-badgedemow3-border.w3-transparent.w3-hover-white
                        .w3-badgedemow3-border.w3-transparent.w3-hover-white
                        .swiper-button-prev