section#wedding3 
    .wedding3
        .wedding-menuIntro
            .title-primary
                h2.title-shadow PhongPhú
                h2.title-content Thực Đơn Tiệc Cưới
            .content
                .content__layout 
                    img.lazyload(data-src="./assets/images/page/wedding/w3-img.png")
                .content__desc
                    .container 
                        .desc.column-8.margin-auto.column-10-ps.column-12-mx
                            .desc-content
                                p Tọa lạc tại trung tâm phường Dương Đông, thành phố Phú Quốc, với vị thế tựa lưng vào đồi Bà Kèo, mặt hướng ra biển, Hòa Bình Phú Quốc Resort là khu nghỉ dưỡng khang trang, hiện đại, đạt tiêu chuẩn 4 sao với gần 200 phòng nghỉ đầy đủ tiện nghi. Quý khách chỉ cần 5 phút tản bộ để có thể đến bãi biển và đắm mình vào làn nước trong xanh hoặc khám phá chợ đêm náo nhiệt chỉ trong vòng 10 phút đi bộ.