section#wedding4 
    .wedding4 
        .wedding__setMenu
            .container
                .wedding__list.column-10.margin-auto.column-12-pm#weddingListBox
                    .wedding__items.table-row.table-column-3.between.table-column-2-tx.table-column-1-ml
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        

                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        

                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        

                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        

                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        
                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
                        

                        .wedding__card-column
                            .wedding__card.card-margin
                                .content-before
                                    .content-before__title 
                                        h2 Menu 1
                                    .content-before__price 
                                        p 2.700.000
                                            span đ
                                    .content-before__desc 
                                        .content-before__desc--guest
                                            p 10 
                                                span khách 
                                        .content-before__desc--table 
                                            p bàn 
                                .content-after
                                    .content-after__title 
                                        h2 SET MENU 1
                                    .content-after__desc 
                                        .content-after__desc--guest
                                            p 10 
                                                span khách 
                                        .content-after__desc--table 
                                            p bàn
                                    ol.content-after__list 
                                        li.content-after__items
                                            p Súp Bắp Cua
                                        li.content-after__items
                                            p Gỏi Củ Hủ Dửa
                                        li.content-after__items
                                            p LaGu (Bao Tử &amp; Lưỡi Heo) - Bánh mì
                                        li.content-after__items
                                            p Cơm Chiên hải Sản
                                        li.content-after__items
                                            p Lẩu Riêu Cua + Bún
                                        li.content-after__items
                                            p trái cây
            ul.box-pagination               

