section#wedding5 
    .wedding5
        .wedding-service 
            .title-primary
                h2.title-shadow TiệcCưới
                h2.title-content Dịch Vụ
            .wedding-service__content
                .content-top 
                    .container
                        .content-top__desc.column-8.margin-auto.column-10-tl.column-11-mx
                            p Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.
                .content-midle 
                    .content-midle__img 
                        img.lazyload(data-src="./assets/images/page/wedding/Wedding5-1.png")
                    .content-midle__img 
                        img.lazyload(data-src="./assets/images/page/wedding/Wedding5-2.png")
                    .content-midle__img 
                        img.lazyload(data-src="./assets/images/page/wedding/Wedding5-3.png")
                .content-bottom 
                    .container
                        .content-bottom__content.column-8.margin-auto
                            .content-bottom__title
                                h2 Thông tin quý khách vui lòng liên hệ:
                            .content-bottom__contact
                                .content-bottom--flex
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img.lazyload(data-src="./assets/images/page/wedding/w5-1.png")
                                        .content-bottom__infor--desc
                                            p 71 Trần Hưng Đạo, Khu phố 7, Phú Quốc - Kiên Giang
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img.lazyload(data-src="./assets/images/page/wedding/w5-2.png")
                                        .content-bottom__infor--desc
                                            p nhahang@hoabinhphuquoc.com.vn
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img.lazyload(data-src="./assets/images/page/wedding/w5-3.png")
                                        .content-bottom__infor--desc
                                            p (02973) 99 68 68 - (02973) 995 789
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img.lazyload(data-src="./assets/images/page/wedding/w5-4.png")
                                        .content-bottom__infor--desc
                                            p 0941 178 178
                            .content-bottom__more.margin-auto
                                 a.btn--more(data-href="javascript:void(0)" href="/restroom/box-1") bảng giá dịch vụ tiệc cưới

        .wedding-popup--overlay
            .wedding-popup
                .popup 
                    .path-wedding
                    .popup-close 
                    .popup-wrapper 
                        .container
                            .popup-wrapper--bg.column-10.column-12-ps
                                .popup-wrapper__wedding 
                                    .wedding-cost 
                                        .wedding-cost__title 
                                            h2 Bảng giá dịch vụ tiệc cưới
                                        .wedding-cost__table
                                            .wedding-cost__row 
                                                span.heading STT
                                                span.heading Dịch vụ
                                                span.heading SL/ĐVT
                                                span.heading Đơn giá
                                            .wedding-cost__row 
                                                span 1
                                                span Bàn tiệc dùng thử món
                                                span 01/bàn
                                                span Tính 50% trên giá bàn đặt chính
                                            .wedding-cost__row 
                                                span 2
                                                span Nước uống chủ tiệc mang vào
                                                span 01/bàn
                                                span 150.000 đồng
                                            .wedding-cost__row 
                                                span 3
                                                span Viên pháo sáng
                                                span 01/viên
                                                span 200.000 đồng

                                            .wedding-cost__row 
                                                span 4
                                                span Màn chiếu
                                                span 01/buổi/4 giờ
                                                span 200.000 đồng

                                            .wedding-cost__row 
                                                span 5
                                                span Máy chiếu
                                                span 01/cái
                                                span 700.000 đồng

                                            .wedding-cost__row 
                                                span 6
                                                span Đàn Organ - Nhạc công
                                                span 01/cái
                                                span 900.000 đồng

                                            .wedding-cost__row 
                                                span 7
                                                span Ca sỹ
                                                span 01/lượt
                                                span 700.000 đồng

                                            .wedding-cost__row 
                                                span 8
                                                span Bánh kem
                                                span 01/người
                                                span 800.000 đồng

                                            .wedding-cost__row 
                                                span 9
                                                span Phòng Tân Hôn
                                                span 01/tầng
                                                span 1.450.000 đồng
                                            .wedding-cost__row 
                                                span 10
                                                span Trang trí phòng Tân Hôn 
                                                    br
                                                    | (Rượu vang, hoa tươi, hoa trải giường, trái cây)
                                                span 01/phòng
                                                span 700.000 đồng
                                            .wedding-cost__row 
                                                span 11
                                                span Xe đưa họ
                                                span 01/lượt
                                                span 600.000 đồng
                                    .wedding-select
                                        .wedding-select__title
                                            h3 Chọn lựa khách hàng
                                        ol.wedding-select__list 
                                            li Nhà hàng nhận đặt hoa tươi trang trí sảnh cưới; giá áp dụng theo yêu cầu tại thời điểm đặt tiệc, số lượng và loại hoa.
                                            li Nếu Quý khách sử dụng nước uống do nhà hàng phục vụ; giá được tính cụ thể như sau:
                                        .wedding-select__table 
                                            .wedding-select__row.heading
                                                span Loại thức uống
                                                span SL/ĐVT
                                                span Đơn giá
                                            .wedding-select__row
                                                span Bia Tiger Chai
                                                span 01/chai
                                                span 18.000 đồng
                                            .wedding-select__row
                                                span Bia Tiger Lon
                                                span 01/lon
                                                span 20.000 đồng
                                            .wedding-select__row
                                                span Bia Heneiken Chai
                                                span 01/chai
                                                span 20.000 đồng
                                            .wedding-select__row
                                                span Bia Heneiken Lon
                                                span 01/lon
                                                span 22.000 đồng
                                            .wedding-select__row
                                                span Nước Ngọt  hoặc Nước Suối
                                                span 01/lon hoặc chai
                                                span 15.000 đồng