section#wedding5 
    .wedding5
        .wedding-service 
            .title-primary
                    h2.title-shadow TiệcCưới
                    h2.title-content Dịch Vụ
            .wedding-service__content
                .content-top 
                    .container
                        .content-top__desc.column-8.margin-auto 
                            p Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.
                .content-midle 
                    .content-midle__img 
                        img(src="./assets/images/page/wedding/Wedding5-1.png")
                    .content-midle__img 
                        img(src="./assets/images/page/wedding/Wedding5-2.png")
                    .content-midle__img 
                        img(src="./assets/images/page/wedding/Wedding5-3.png")
                .content-bottom 
                    .container
                        .content-bottom__content.column-8.margin-auto
                            .content-bottom__title
                                h2 Thông tin quý khách vui lòng liên hệ:
                            .content-bottom__contact.table-row
                                .content-bottom--flex
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img(src="./assets/images/page/wedding/w5-1.png")
                                        .content-bottom__infor--desc
                                            p 71 Trần Hưng Đạo, Khu phố 7, Phú Quốc - Kiên Giang
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img(src="./assets/images/page/wedding/w5-2.png")
                                        .content-bottom__infor--desc
                                            p nhahang@hoabinhphuquoc.com.vn
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img(src="./assets/images/page/wedding/w5-3.png")
                                        .content-bottom__infor--desc
                                            p (02973) 99 68 68  -   (02973) 995 789
                                    .content-bottom__infor
                                        .content-bottom__infor--img 
                                            img(src="./assets/images/page/wedding/w5-4.png")
                                        .content-bottom__infor--desc
                                            p 0941 178 178
                            .content-bottom__more.margin-auto
                                 a.btn--more(data-href="./restroom.html" href="/restroom/box-1") bảng giá dịch vụ tiệc cưới
