.index-restroom {
  // background: map-get($color, main );
  background: map-get($color, main);
  position: relative;

  .container{
    z-index: 1;
  }

  .path-restroom{
    height: 70%;
    top: auto;
    bottom: 0;
  }

  &__title {
    text-align: center;
    
    @include space(s42, padding-top);
    @include space(s42, padding-bottom);
    &--size{
    @include size(s51);
    @include family--primary;
    color: map-get($color, mainBg);
    font-weight: bold;
    }
  }
  &__slide {
    position: relative;
    $wh: 43px;
    .swiper-button-next,
    .swiper-button-prev{
      &::after{
        content: "";
      }
      background-color: map-get($color, buttonSwiper-2);
      

      width: $wh;
      height: $wh;

      border-radius: 1000px;
    };

    $spaceButtonSwiper: -50px;

    .swiper-button-next{
      right: calc(#{$spaceButtonSwiper} - #{$wh});
      @media (max-width: map-get($media, pm)){
        right: calc(-20px - #{$wh});
      }
      @media (max-width: map-get($media, ps)){
        right: calc(-10px - #{$wh});
      }
      @media (max-width: map-get($media, tx)){
        right: calc(0px - #{$wh});
      }
      @media (max-width: map-get($media, tl)){
        right: calc(30px - #{$wh});
      }
    }
    .swiper-button-prev{
      left: calc(#{$spaceButtonSwiper} - #{$wh});
      @media (max-width: map-get($media, pm)){
        left: calc(-20px - #{$wh});
      }
      @media (max-width: map-get($media, ps)){
        left: calc(-10px - #{$wh});
      }
      @media (max-width: map-get($media, tx)){
        left: calc(0px - #{$wh});
      }
      @media (max-width: map-get($media, tl)){
        left: calc(30px - #{$wh});
      }
    }
    & .restroom-box {
      box-shadow: 0px 3px 6px rgba(#000, .16);
      background: map-get($color, mainBg);
      margin: 6px;
      &__img {
        max-width: 100%;
        height: 295px;
        @media (max-width: map-get($media, pm)){
          height: 245px;
        }
        @media (max-width: map-get($media, tx)){
          height: 200px;
        }
      }
      &__content{
        @include space(s34, padding, 36px);
        @media (max-width: map-get($media, pm)){
          padding: 26px 28px;
        }
        @media (max-width: map-get($media, tx)){
          padding: 18px 20px;
        }
      }
      &__title {
        position: relative;
        &::after{
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 62px;
          height: 5px;
          background-color: map-get($color, underline );
          content: "";
        }
        &--size {
          @include size(s41);
          @include p-line-clamp(1);

          line-height: 1.4;
          color: map-get($color, main);

          
        }
      }
      &__desc{
        @include space(s34,margin,0);
        &>*{
          @include size(s18);
          @include p-line-clamp(4);
        }
        
      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        @media (max-width: map-get($media, mx)){
          .btn-link--booking {
            padding: 8px 8px;
          }
        }
        & .restroom-box__more{
          svg{
            margin-left: 8px;
            @media (max-width: map-get($media, mx)){
              margin-left: 4px;
            }
          }
        }
      
      }
    }
  }
  &__more{
    @include space(s72, padding-top);
    @include space(s72, padding-bottom);
    text-align: center;
    &--size{
      @include size(s18);
      font-weight: light;
      color: map-get($color, mainBg);
      position: relative;
      
      &::after{
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        background: map-get($color , mainBg );
        width: 100%;
        height: 1px;
      }
      
    }
    
  }
}
