.wedding3{
    .wedding-menuIntro{
        .title-primary{
            display: flex;
            justify-content: center;
        }
        .content{
           position: relative;
            &__desc{
                width: 70%;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                background: white;
                transform: translate(-50%,-50%);
                
                @include spacewedding3(s32,padding-top);
                @include spacewedding3(s32,padding-bottom);
                @include spacewedding3(s32,padding-left);
                @include spacewedding3(s32,padding-right);
            }
            .desc{
                @include spacewedding3(s72,padding-top);
                @include spacewedding3(s72,padding-bottom);
                @include spacewedding3(s104,padding-left);
                @include spacewedding3(s104,padding-right);
                border: 1px solid map-get($color, main );
                text-align: center;
                position: relative;
                &>*{
                    @include size(s18);
                    @include rp(ps){
                        font-size: 16px;
                    }
                    @include rp(tx){
                        font-size: 12px;
                    }
                    @include rp(tm){
                        font-size: 10px;
                    }
                    @include rp(mx){
                        font-size: 8px;
                    }
                    @include rp(mm){
                        font-size: 6px;
                    }
                    

                   
                    line-height: 1.6;
                    color: map-get($color, base);
                }
            }
        }

    }
}