.wedding3{
    .wedding-menuIntro{
        .title-primary{
            display: flex;
            justify-content: center;
        }
        .content{
           position: relative;
            &__desc{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                background: white;
                transform: translate(-50%,-50%);
                
            }
            .desc{
                @include spacewedding3(s104,padding-top);
                @include spacewedding3(s104,padding-bottom);
                @include spacewedding3(s140,padding-left);
                @include spacewedding3(s140,padding-right);
                text-align: center;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    top: 32px;
                    left: 32px;
                    right: 32px;
                    bottom: 32px;
                    @include rp(tx){
                        top: 24px;
                        left: 24px;
                        right: 24px;
                        bottom: 24px;
                    }
                    @include rp(ts){
                        top: 16px;
                        left: 14px;
                        right: 14px;
                        bottom: 16px;
                    }
                    @include rp(mx){
                        top: 10px;
                        left: 10px;
                        right: 10px;
                        bottom: 10px;
                    }
                    @include rp(mm){
                        top: 8px;
                        left: 8px;
                        right: 8px;
                        bottom: 8px;
                    }
                    @include rp(ms){
                        top: 4px;
                        left: 4px;
                        right: 4px;
                        bottom: 4px;
                    }
                    border: 1px solid map-get($color, main );

                }
                &>*{
                    @include size(s18);
                    @include rp(ps){
                        font-size: 16px;
                    }
                    @include rp(tx){
                        font-size: 14px;
                    }   
                    @include rp(tm){
                        font-size: 12px;
                    }  
                    @include rp(mx){
                        font-size: 10px;
                    } 
                    @include rp(ml){
                        font-size: 9px;
                    } 
                   
                    line-height: 1.6;
                    color: map-get($color, base);
                }
            }
        }

    }
}