$spaceIndex: (
  
  s24: (
		default: 24px,
    pm: 18px,
    tx: 16px,
    tl: 14px,
    ts: 12px,
	),

  s34: (
		default: 34px,
		ps: 32px,
		tx: 24px,
		mx: 18px,
	),
  s34-2: (
		default: 34px,
		pm: 30px,
    tx: 25px,
    tl: 20px,
    ts: 18px,
		
	),
  s36: (
    default: 36px,
  ),

  s42: (
		default: 42px,
		pm: 38px,
    tl: 32px,
    ml: 28px
	),
  s44: (
		default: 44px,
		
	),
  s50: (
		default: 50px,
	),

  s72: (
		default: 72px,
    pm: 45px,
    tx: 38px,
    mm: 28px
	),
  s88: (
		default: 88px,
	),

);
//section,padding,margin
$spaceIndex3: (
 
    s48:(
        default: 48px,
        tx: 4px,
    ),
);
$spaceIndex4: (
  s2: (
    default: 2px,
  ),
  s8: (
    default: 8px,
  ),
  s12: (
    default: 12px,
    mx: 4px,
  ),
  s16: (
    default: 16px,
  ),
   s20: (
      default: 20px,
   ),
   s24: (
      default: 24px,
   ),
   s40: (
    default: 40px,
    ps: 38px,
    tx: 36px,
    tm: 24px,
    ts: 24px,
   
 ),
    sLeftRightContentBox: (
      default: 32px,
      tx: 28px,
      ts: 24px,
      mx: 18px,
      ms: 6px,
    ),
   s70: (
      default: 70px,
      pm: 56px,
      ts: 36px,
 
   ),
   s104: (
     default: 104px,
     pl: 78px,
     pm: 76px,
     ps: 64px,
     tx: 18px,
     tm: 18px,
     mx: 20px,
     ms: 18px,
     
   ),
);
$spaceIndex6:(
    s88:(
      default: 88px,
    ),
    s80:(
      default: 80px,
    ),
    s56:(
      default: 56px,
    ),
);
//height
$blockIndex: (
  imgIndex2:(
    default: 295px,
    pm: 245px,
    tx: 200px,
    mx: 145px
  ),
  imgIndex3: (
		default: 454px,
    pm: 420px,
    ps: 380px,

    tx: 320px,
    tm: 420px,
    ts: 380px,

    mx: 280px,
    ml: 240px,

	),
  imgIndex4:(
    default: 757px,
    pm: 728px,
    ps: 700px,
    tx: 620px,
    tm: 560px,
    mx: 480px,
  ),

  boxIndex4:(
    default: 618px,
    pm: 580px,
    tx: 500px,
    tl: 480px,
    tm: 460px,
    mx: 420px,
    ml: 380px,
    mm: 360px,
  ),
  boxImgIndex4:(
    default: 45px,
  ),
  boxRighrIndex4:(
    default: 120px,
    pm: 118px,
    tx: 98px,
    tm: 90px,
    mx: 70px
  ),
  boxIndex6:(
    default: 610px,
  ),
  imgIndex6:(
    default: 630px,
  ),
  swipperIndex6:(
    default: 630px,
  ),
  inforIndex6:(
    default: 472px,
  ),
);
@mixin spaceIndex($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spaceIndex, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin blockIndex($key, $name, $side: '-1'){
  @each $idx, $val in map-get($blockIndex, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spaceIndex3($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spaceIndex3, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spaceIndex4($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spaceIndex4, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spaceIndex6($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spaceIndex6, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}