$spaceIndex: (
	s50: (
		default: 50px,
	),

  s42: (
		default: 42px,
		
	),
  s34: (
		default: 34px,
		ps: 32px,
		tx: 24px,
		mx: 18px,
	),
  s72: (
		default: 72px,
	),
);

@mixin spaceIndex($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spaceIndex, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}