// service


$libraryBox: (
  
    m-t-90: (
    default: 90px,
        pl: 82px ,
        pm: 54px ,
        ps: 44px,
    mm: 20px ,
    ),
    p-r-32:(
        default: 32px,
        pm: 12px,
        ps: 4% ,
        mm: 7px ,
    ),
    p63: (
        default: 63px 0,
        pl: 42px 0,
        pm: 34px 0,
        ps: 8% 0,
        mm: 20px 0,
        ),
    
    p30: (
        default: 30px 0,
        pl: 20px 0,
        pm: 20px 0,
        ps: 3% 0 ,
        ),
    m-b-70:(
        default: 70px,
        pl: 60px,
        pm: 50px,
        ps: 40px,
        tl: 35px,
        ml: 25px,
    ),
    m70:(
        default: 70px auto,
        pl: 60px auto,
        pm: 50px auto,
        ps: 35px auto,
        mm: 20px auto,
    )
);

$blockLibrary: (
	library-1: (
		default: 324px,
		pl: 100%,
		// pm: 304px,
		// tx: 244px,
		// // tl: 220px,
        // tm: 224px,
        // ts: 204px,
        // mx: 164px,
        // mm: 100%,
	),
 
);


@mixin libraryBox($key, $name, $side: '-1'){
  @each $idx, $val in map-get($libraryBox, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}

@mixin blockLibrary($key, $name, $side: '-1'){
  @each $idx, $val in map-get($blockLibrary, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}