$blockRest: (
  heightImgRest1: (
    default: 262px,
  ),
);

$spaceRest: (
  content: (
    default: 30px,
    pl: 26px,
    ts: 16px,
  ),
  contentItem: (
    default: 24px,
    pl: 18px,
    ts: 12px,
  ),
  descItem: (
    default: 8px 0,
  ),
  descIconList: (
    default: 40px,
    pm: 32px,
    tx: 28px,
    ms: 12px,
  ),
  descLine: (
    default: 8px,
  ),

  pagination: (
    default: 72px,
  ),

);
  
$popup: (
  imgSwiper: (
    default: 538px,
    pl: 460px,
    pm: 380px,
    tx: 360px,
    tl: 480px,
    tm: 420px,
    ts: 400px,
    mx: 340px,
    ml: 280px,
    mm: 240px,
  ),
  imgThumbs: (
    default: 184px,
    pl: 144px,
    pm: 120px,
    tx: 114px,
    tl: 160px,
    tm: 144px,
    ts: 120px,
    mx: 100px,
    ml: 90px,
    mm: 70px,
  ),
  contentPopup: (
    default: 0 28px,
    pm: 0 18px,
    tl: 0,
  ),
  contentUlPopup:(
    default: 28px,
    pm: 18px,
  ),
  liPopup: (
    default: 12px,
    pm: 10px,
    tl: 8px,
    mx: 4px,
  ),

  itemPopup: (
    default: 24px,
    pm: 20px,
    tl: 16px,
    mx: 12px,
  ),
);

@mixin popup($key, $name, $side: '-1'){
  @each $idx, $val in map-get($popup, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spaceRest($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spaceRest, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}

@mixin blockRest($key, $name, $side: '-1'){
  @each $idx, $val in map-get($blockRest, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}