
$spacewedding2:(
  s84:(
    default:84px,
  ),
  s120:(
    default:120px,
  ),
  s268:(
    default:268px,
  ),
  s820:(
    default:820px,
    ps:610px,
  ),
);
$spacewedding3:(
    s32: (
      default: 32px,
      pm: 28px, 
      tx: 20px,
      tl: 16px,
      ts: 12px,
      mx: 10px,
    ),
    s72:(
      default: 72px,
       pl: 64px,
       pm: 48px,
       ps: 40px,
       tx: 32px,
       tl: 28px,
       tm: 24px,
       ts: 18px,
       mx: 14px,
       mm: 10px,
      // ms: 32px,
      
    ),
    s104:(
      default: 104px,
      pl: 96px,
      pm: 72px,
      px: 64px,
      tx: 56px,
      tl: 44px,
      tm: 30px,
      ts: 22px,
      mx: 18px,
      ml: 14px,
      // mm: 8px,
      // ms: 4px,
      
    ),
    
);
$spacewedding4:(
  s16:(
    default: 16px,
  ),
  s20:(
    default: 20px,
  ),
  s32:(
    default: 32px,
  ),
  s40:(
    default: 40px,
  ),
  s80:(
    default: 80px,
  ),
  s160:(
    default:160px,
  ),
  leftList:(
    default: 20px,
  ),
);
$sizewedding2:(
  s51:(
    default:51px,
    ps:45px,
  ),
  s26:(
    default:26px,
  ),
);
$blockwedding2:(
  s784:(
    default:748px,
  ),
  s543:(
    default:543px,
  ),
  s50:(
    default:50px,
    ps:15px,
  ),
  s24:(
    default:24px 0,
    ps:18px 0,
  ),
);
@mixin spacewedding2($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spacewedding2, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}

@mixin sizewedding2($key, $name, $side: '-1'){
  @each $idx, $val in map-get($sizewedding2, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spacewedding3($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spacewedding3, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spacewedding4($key, $name, $side: '-1'){
  @each $idx, $val in map-get($spacewedding4, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin blockwedding2($key, $name, $side: '-1'){
  @each $idx, $val in map-get($blockwedding2, #{$key}){
    @if $side == '-1'{
      @if $idx == default{
        #{$name}: $val;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val;
        }
      }
    }
    @else{
      @if $idx == default{
        #{$name}: $val $side;
      }
      @else{
        @media (max-width: map-get($media, $idx)){
          #{$name}: $val $side;
        }
      }
    }
  }
}
