section#forum-1 
  .forum-1 
    .forum-lobby
      .forum-lobby__title.title-primary 
        h2.title-shadow SảnhHộiNghị
        h2.title-content Sảnh Hội Nghị
      .forum-lobby__wrapper
        .container
          .column-10.margin-auto.table-row.column-12-ps
            .forum-lobby__img.column-7.column-6-tx.column-12-mx
              .forum-lobby__img--inner
                .forum-lobby__img-shelf-top
                img(data-src="./assets/images/page/forum/intro1.png" class="lazyload" alt="Giới thiệu - Sảnh hội nghị")
                .forum-lobby__img-shelf-bottom
            .forum-lobby__content.column-5.column-6-tx.column-12-mx
              .forum-lobby__content-sub
                h3 GIỚI THIỆU
              .forum-lobby__content-title 
                h2 Sảnh hội nghị
              .forum-lobby__content-desc
                p Trung tâm Hội nghị Hòa Bình Phú Quốc với kiến trúc độc đáo và không kém phần sang trọng trong một không gian xanh, trang thiết bị hiện đại cùng với sự đa dạng về diện tích, có thế đáp ứng nhu cầu tổ chức hội nghị, hội thảo và tập huấn… đa dạng của Quý khách.

          
        