section#forum-2
  .forum-2
    .container
      .forum-zoom 
        .forum-zoom-option
          .forum-zoom-option__item.active
            h4 Phòng họp lớn
          .forum-zoom-option__item
            h4 Phòng họp trung
          .forum-zoom-option__item
            h4 Phòng họp nhỏ
        .forum-zoom__wrapper.column-10.margin-auto
          .zoom-imgs
            .zoom-imgs__left.zoom-left
            .zoom-imgs__right.zoom-right
          .zoom-content 
            .zoom-content__left.zoom-left
            .zoom-content__right.zoom-right




