#library-1__wrapper{
    .tour-title{
        width: 100%;
        text-align: center;
        @include space(s90, margin-top);
        @include space(s48, margin-bottom);
    }
    .section-box{
        .image__section{
            &--image{
                .box-list{
                    
                    &__items{
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        // justify-content: space-between;
                        @include libraryBox(p30, padding);
                        &--image{
                            @include libraryBox(p10, padding);
                            &:nth-child(3n +1) {
                                padding-right: 10px;
                                padding-left: 0px;
                                @include rp(ts){
                                    padding: 0 10px;
                                }
                            }
                            &:nth-child(3n) {
                                padding-left: 10px;
                                padding-right: 0px;
                                
                            }
                            @include rp(ts){
                                &:nth-child(2n + 1) {
                                    padding-left: 0;
                                    padding-right: 10px;
                                    
                                }
                                &:nth-child(2n + 2) {
                                    padding-left: 10px;
                                    padding-right: 0;
                                    
                                }
                            }
                            transition: 0.3s ease-in-out;
                            width: calc(100% / 3);
                            @include rp(ts){
                                width: 50%;
                            }
                            margin-top: 10px;
                            @include blockLibrary(library-1, height);
                        }
                    }
                }
            }
        }
        .video__section{
            &--video{
                .box-list{
                    &__items{
                        @include libraryBox(p30, padding);
                        &--top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include rp(tm){
                                flex-direction: column
                            }
                            @include blockLibrary(library-video-top, height);
                            &-big{
                                @include blockLibrary(library-video-top-big, width);
                                height: 100%;
                            }
                            &-small{
                                @include blockLibrary(library-video-top-small, width);
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                @include rp(tm){
                                    display: none;
                                }
                                iframe{
                                    height: 49%;
                                }
                            }
                        }
                        &--bottom{
                            @include libraryBox(m-t-53, margin-top);
                            display: flex;
                            justify-content: space-between;
                            @include blockLibrary(library-video-bottom, height);
                            width: 100%;
                            iframe{
                                width: 32%;
                            }
                        }
                    }
                }
            }
        }
        .image__section,
        .video__section{
            .box-pagination{
                justify-content: flex-start;
            }
            @include libraryBox(m-b-60, padding-bottom);
            margin: auto;
            &--title{
                display: flex;
                position: relative;
                p{
                    color: map-get($color, main );
                    @include family--primary;
                    font-weight: bold; 
                    @include libraryBox(p-r-32, padding-right);
                    display: inline-block;
                    @include title(s51);
                    
                }
                &::after{
                    content: "";
                    flex: 1 1;
                    border-bottom: 1px solid map-get($color, main );
                    margin-bottom: 1.6%;
                    @include rp(tm){
                        margin-bottom: 1.8%;
                    }
                    @include rp(ml){
                        margin-bottom: 2.5%;
                    }
                    @include rp(mm){
                        margin-bottom: 3%;
                    }
                }
            }
        }
    }
}