section#booking-1 
  .booking-1 
    .booking
      .container
        .booking-container.column-10.margin-auto.column-12-pm
          .booking-step
            .booking-step__item.active
              span.booking-step__item-number 1
              span.booking-step__item-span Thông tin đặt phòng
            .booking-step__item
              span.booking-step__item-number 2
              span.booking-step__item-span Chọn phòng
            .booking-step__item
              span.booking-step__item-number 3
              span.booking-step__item-span Thông tin khách hàng
            .booking-step__item
              span.booking-step__item-number 4
              span.booking-step__item-span Thanh toán

        .booking-form.column-10.margin-auto
          form.form-step#formStep(action="./booking-post" method="GET")
            .form-step__item
              label 1. Chọn ngày đến
              .form-step__item-input
                input(type="text" id="receiveFormStep" autoComplete="off")
                .form-step__item-img
                  img(src="./assets/icons/date.png", alt="date")

            .form-step__item
              label 2. Chọn ngày đi
              .form-step__item-input
                input(type="text" id="payFormStep" autoComplete="off")
                .form-step__item-img
                  img(src="./assets/icons/date.png", alt="date")

            .form-step__item
              .form-step__item-submit
                button#submitBookingStep(style="submit") Đặt phòng
                

