.booking{
  // margin-top: 120px;
  @include spaceBooking(s120, margin-top);

  &-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &-step{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: auto;
    margin: auto;

    margin-top: -18px;
    margin-left: -18px;
    margin-right: -18px;

    // padding-bottom: 50px;
    @include spaceBooking(s50, padding-bottom);

    border-bottom: 1px solid map-get($color, main);
    &>*{
      margin-top: 18px;
      margin-left: 18px;
      margin-right: 18px;
    }

    &__item{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      &>*{
        &:not(:first-child){
          margin-left: 12px;
        }
      }

      user-select: none;
      cursor: default;
      pointer-events: none;


      &-number{
        width: 48px;
        height: 48px;

        @include rp(ts){
          width: 36px;
          height: 36px;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 500px;
        background-color: map-get($color, iconMainBgActive);
        color: map-get($color, baseBold);
        @include title(s26);
        @include bold;
      }
      &-span{
        @include title(s26);
        @include regular;
        color: map-get($color, baseBold);
        white-space: nowrap;
      }

      &.active{
        .booking-step__item-number{
          background-color: map-get($color, main);
          color: white;
        }
        .booking-step__item-span{
          color: map-get($color, main);
          @include bold;
        }
      }
    }
  }

  &-form{
    // margin-top: 90px;
    // margin-bottom: 90px;
    @include spaceBooking(s90, margin-top);
    @include spaceBooking(s90, margin-bottom);

    @include rp(mx){
      width: 100%;
    }
    // booking info
    .form-step{
      max-width: 812px;
      margin: auto;

      &__item{
        &:not(:first-child){
          margin-top: 42px;
          @include rp(ts){
            margin-top: 36px;
          }
          @include rp(ml){
            margin-top: 24px;
          }
        }
        &>*:not(:first-child){
          margin-top: 24px;
          @include rp(ts){
            margin-top: 18px;
          }
          @include rp(ml){
            margin-top: 12px;
          }
        }
        &-input{
          position: relative;
          max-width: 100%;
          height: 56px;

          input{
            width: 100%;
            height: 100%;

            padding-left: 24px;

            border: 2px solid map-get($color, baseBold);
            &:focus{
              border: 2px solid map-get($color, main);
            }
          }
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &-img{
          position: absolute;
          top: 50%; right: 10px;
          transform: translateY(-50%);
          object-fit: contain;
          margin: 0 !important;
          width: auto;
          height: 36px;
          padding-bottom: 4px;
          pointer-events: none;
  
          img{
            object-fit: contain;
          }
        }

        &-submit{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;

          button, input[type="submit"]{
            outline: none;
            background: transparent;
            border: none;
            padding: 8px 16px;
            min-width: 120px;
  
            margin: auto;
            background-color: map-get($color, main);
            @include bold;
            color: white;
            @include uppercase;
            font-size: 1.7rem;
          }
        }
      }
    }

    // booking select
    .select{
      &-info{
        &__title{
          text-align: center;
          &>*{
            @include title(s51);
            @include bold;
            color: map-get($color, main);
            @include family--primary;
          }
        }
        &-details{
          margin-top: 18px;
          .detail-left{
            background-color: white;
            box-shadow: 0 3px 6px rgba(0,0,0,.16);
            
            position: relative;
            &--overlay{
              position: absolute;
              top: 10px;
              left: 10px;
              right: 10px;
              bottom: 10px;
              border: 1px solid map-get($color, main);
              background-color: transparent;
            }
  
            &__info{
              padding: 90px;

              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
  
              &-item{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
  
                img{
                  align-self: self-start;

                  width: 32px;
                  height: 32px;
                  object-fit: contain;
                }
                p{
                  margin-left: 32px;
                  flex: 1;
                }

                &:not(:first-child){
                  margin-top: 40px;
                }
              }
            }
          }
          .detail-right{
            padding-top: 40px;
            padding-left: 64px;

            &>*{
              margin-top: 36px;
            }

            &__title{
              &>*{
                @include regular;
                padding-bottom: 8px;
                border-bottom: 1px solid map-get($color, base);
              }
            }
            &-superior{

              display: flex;
              flex-direction: row;
              justify-content: space-between;

              &__left{
                display: flex;
                flex-direction: column;
                &>*{
                  &:not(:first-child){
                    margin-top: 6px;
                  }
                }
                h4{
                  @include bold;
                  @include title(s26);
                }
                &-icons{
                  &>*{
                    width: auto;
                    height: 20px;
                    object-fit: contain;

                    &:not(:first-child){
                      margin-left: 8px;
                    }
                  }
                }
              }
              &__right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;

                &-option{
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  flex-wrap: wrap;
                  align-items: center;
                  width: 100%;

                  &>*{
                    &:not(:first-child){
                      margin-left: 24px;
                    }
                  }

                  .option{
                    position: relative;

                    padding: 10px 0;
                    border: 1px solid map-get($color, base);
                    
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    min-width: 60px;
                    &-value{
                      padding-left: 12px;
                    }
                    &-icon{
                      position: absolute;
                      top: 50%;
                      right: 8px;
                      transform: translateY(-50%);
                    }

                    &-list{
                      position: absolute;
                      top: calc(100% + 2px);
                      left: 0;

                      background-color: white;
                      box-shadow: 0 3px 6px rgba(0,0,0,.16);

                      width: 100%;

                      max-height: 150px;
                      overflow-y: auto;

                      display: none;

                      /* width */
                      &::-webkit-scrollbar {
                        width: 3px;
                      }

                      /* Track */
                      &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                      }

                      /* Handle */
                      &::-webkit-scrollbar-thumb {
                        border-radius: 3px;
                        background: #888;
                      }

                      /* Handle on hover */
                      &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                      }

                      &>*{
                        padding: 6px 12px;
                        &:hover{
                          background-color: rgba(map-get($color, main), .7);
                        }
                        &.active{
                          background-color: map-get($color, main);
                        }
                      }

                      &.active{
                        display: block;
                      }
                    }
                  }
                }
                &-info{
                  align-self: flex-end;
                  &>*{
                    font-size: 10px;
                    color: map-get($color, error);
                  }
                }
              }
            }

            &-value{
              &__item{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                
                .value__item{
                  display: flex;
                  flex-direction: row;
                  align-items: center;

                  &:first-child{
                    width: 148px;
                  }

                  &:nth-of-type(2n + 1){
                    margin-left: 24px;
                  }

                  &>*{
                    &:not(:first-child){
                      margin-left: 16px;
                    }
                  }

                  &-icons{
                    display: flex;
                    &>*{
                      width: 18px;
                      height: auto;
                      object-fit: contain;
                    }
                  }

                  &-date{
                    display: flex;
                    align-items: center;

                    &>*{
                      &:not(:first-child){
                        margin-left: 24px;
                      }
                    }
                  }

                  &-span{
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  
}