section#endow-1
  .endow-1
    input(type="hidden" id="checkUrl" data-close="./endow.html" data-url="" data-box="" data-active="")
    .section-endow-title
      .title-primary
        h2.title-shadow NgậpTràn
        h2.title-content Ưu Đãi
    .section-endow-wrapper
      .container
          .endow__content.table-row.column-10.column-12-tx.margin-auto.table-column-1-tm
              .endow__left.column-4.column-12-tm
                  ul.endow__left--list 
                      li.endow__left--items 
                        h3.endow__left--desc(data-active="1").active Phòng nghỉ
                      li.endow__left--items
                        h3.endow__left--desc(data-active="2") Ẩm thực
                      li.endow__left--items
                        h3.endow__left--desc(data-active="3") Tiệc cưới
                      li.endow__left--items
                        h3.endow__left--desc(data-active="4") Hội nghị
                      li.endow__left--items
                        h3.endow__left--desc(data-active="5") Tour
              .endow__right.column-8
                    .endow__slide(data-active="1")
                        .endow-box__list(data-url="./popup-restroom")
                            .endow-box(data-box="1")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Phòng nghỉ
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-restroom-1") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="2")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-restroom-2") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="3")
                                .endow-box__img
                                    img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-restroom-3") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="004a8f"/>
                                                </svg>
                        ul.box-pagination 
                    .endow__slide(data-active="2")
                        .endow-box__list(data-url="./popup-cuisine")
                            .endow-box(data-box="1")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Ẩm thực 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-cuisine-1") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="2")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-cuisine-2") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="3")
                                .endow-box__img
                                    img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-cuisine-3") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                        ul.box-pagination 
                    .endow__slide(data-active="3")
                        .endow-box__list(data-url="./popup-hall-wedding")
                            .endow-box(data-box="1")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Tiệc cưới 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-wedding-1") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="2")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-wedding-2") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="3")
                                .endow-box__img
                                    img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-wedding-3") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                        ul.box-pagination 
                      
                    .endow__slide(data-active="4")
                        .endow-box__list(data-url="./popup-forum")
                            .endow-box(data-box="1")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Hội nghị 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-forum-1") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="2")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-forum-2") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="3")
                                .endow-box__img
                                    img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-forum-3") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                        ul.box-pagination 
                      
                    .endow__slide(data-active="5")
                        .endow-box__list(data-url="./popup-service")
                            .endow-box(data-box="1")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Tour 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-service-1") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="2")
                                .endow-box__img
                                    img.endow-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-service-2") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .endow-box(data-box="3")
                                .endow-box__img
                                    img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="Lorem ipsum dolor sit 1")
                                .endow-box__content
                                    .endow-box__title
                                        h3.endow-box__title--size Lorem ipsum dolor sit 1
                                    .endow-box__desc
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    .endow-box__bottom
                                        .endow-box__more
                                            a.btn-link--more(href="./endow-service-3") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                        ul.box-pagination 
          .total-popup--overlay
            .total-popup
                .popup 
                    .path-hall
                    .popup-close 
                    .popup-wrapper 
                        .container
                            .popup-wrapper--bg.column-10.column-12-ps
                                //- .flex-center
                                //-     | Loading data ...
                                //- .popup-wrapper__imgs.column-7.column-12-tl
                                //-     .popup-wrapper__imgs-swiper.swiper-container
                                //-         .swiper-wrapper
                                //-             .swiper-slide
                                //-                 .popup-wrapper__imgs-slide
                                //-                     img.lazyload(data-src="/assets/images/page/restroom/popup1.png", alt="restroom slide 1")
                                //-             .swiper-slide
                                //-                 .popup-wrapper__imgs-slide
                                //-                     img.lazyload(data-src="/assets/images/page/restroom/popup2.png", alt="restroom slide 2")
                                //-             .swiper-slide
                                //-                 .popup-wrapper__imgs-slide
                                //-                     img.lazyload(data-src="/assets/images/page/restroom/popup3.png", alt="restroom slide 3")
                                //-         .swiper-button-next
                                //-             <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                //-                 <g id="Group_4724" data-name="Group 4724" transform="translate(1.414 1.412)">
                                //-                     <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                //-                     <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                //-                 </g>
                                //-             </svg>

                                //-         .swiper-button-prev
                                //-             <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                //-                 <g id="Group_4724" data-name="Group 4724" transform="translate(1.414 1.411)">
                                //-                     <path id="Path_123" data-name="Path 123" d="M0,0,4.816,5.448,0,10.421" transform="translate(4.92 0)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                //-                     <path id="Path_124" data-name="Path 124" d="M0,0,4.816,5.448,0,10.421" transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                //-                 </g>
                                //-             </svg>
                                //-     .popup-wrapper__imgs-thumbs.swiper-container(thumbsSlider="") 
                                //-         .swiper-wrapper
                                //-             .swiper-slide
                                //-                 .popup-wrapper__imgs-slide
                                //-                     img.lazyload(data-src="/assets/images/page/restroom/popup1.png", alt="restroom slide 1")
                                //-             .swiper-slide
                                //-                 .popup-wrapper__imgs-slide
                                //-                     img.lazyload(data-src="/assets/images/page/restroom/popup2.png", alt="restroom slide 2")
                                //-             .swiper-slide
                                //-                 .popup-wrapper__imgs-slide
                                //-                     img.lazyload(data-src="/assets/images/page/restroom/popup3.png", alt="restroom slide 3")
                                
                                //- .popup-wrapper__content.column-5.column-12-tl
                                //-     .popup-wrapper__content-item
                                //-         h2 Superior sea view
                                //-         p Trải đều từ tầng 2 đến tầng 5 của tòa nhà hướng biển và hướng vườn, có thể lựa chọn 01 giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại và đầy đủ tiện nghi, Superior sea view phù hợp cho du khách tìm kiếm phòng hạng sang và một không gian thư giãn thoải mải khi đón nhận gió biển nhẹ nhàng từ thềm ban công của mình. 
                                //-         a.btn-link--booking(href="./") Đặt phòng
                                    
                                //-     .popup-wrapper__content-item
                                //-         h2 TIỆN ÍCH
                                //-         ul 
                                //-             li Ban công hướng biển và hướng vườn
                                //-             li TV truyền hình cáp
                                //-             li Bàn làm việc, trang điểm
                                .popup-wrapper__cuisine
                                    h3 Thực đơn
                                    img(src="./assets/images/page/cuisine/menu.png", alt="menu")
                                    br
                                    p Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.