section#cuisine1 
    .cuisine1 
        .cuisine-kitchen 
            .title-primary
                h2.title-shadow BếpÁ&amp;Âu
                h2.title-content Thực đơn
            .cuisine-kitchen__section
                .container  
                    .content.table-row.column-10.margin-auto.column-12-tx
                        .content__left
                            .content__img
                                .content__img--First 
                                    img(src="./assets/images/page/cuisine/cs1-img-1.png" alt="Intro-img1")
                                .content__img--Second 
                                    img(src="./assets/images/page/cuisine/cs1-img-2.png" alt="Intro-img2")
                        .content__right
                            .content__title 
                                h3 GIỚI THIỆU
                            .content__titleSub
                                h2 Thực đơn bếp Á &amp; Âu
                            .content__desc 
                                p Tọa lạc tại trung tâm phường Dương Đông, thành phố Phú Quốc, với vị thế tựa lưng vào đồi Bà Kèo, mặt hướng ra biển, Hòa Bình Phú Quốc Resort là khu nghỉ dưỡng khang trang, hiện đại, đạt tiêu chuẩn 4 sao với gần 200 phòng nghỉ đầy đủ tiện nghi. Quý khách chỉ cần 5 phút tản bộ để có thể đến bãi biển và đắm mình vào làn nước trong xanh hoặc khám phá chợ đêm náo nhiệt chỉ trong vòng 10 phút đi bộ.
                            .content__icons 
                                ul.content__list 
                                    li.content__items 
                                       a(href="")
                                            img(src="./assets/images/page/cuisine/Group5220.png")
                                    li.content__items 
                                        a(href="")
                                            img(src="./assets/images/page/cuisine/Path10843.png")

                                    li.content__items 
                                        a(href="")
                                            img(src="./assets/images/page/cuisine/Group5216.png")

                                    li.content__items 
                                        a(href="")
                                            img(src="./assets/images/page/cuisine/Group5215.png")

                                    li.content__items 
                                       a(href="")
                                            img(src="./assets/images/page/cuisine/Group5218.png")
                        


                            