.section#cuisine2 
    .cuisine
        input(type="hidden" id="checkUrl" data-close="./cuisine.html" data-url="" data-box="")
        .cuisine-wrapper#buffet(data-box="1")
            .overlay-cuisine
            .container
                .content.table-row.column-10.margin-auto.column-12-tx
                    .content__left 
                        .content__title 
                            h2 Buffet Sáng
                        .content__desc 
                            p Còn gì tuyệt vời hơn khi quý khách đón chào một ngày mới với một tách cà phê thơm ngon trong một sân viên vườn trong xanh, thoáng đãng. Cà phê sân vườn Hòa Bình là không gian lý tưởng và thuận tiện để quý khách hội ngộ bàn bè hay gặp gỡ đối tác.
                        .content__more 
                            a.btn-link--more(href="./cuisine-buffet") Xem thực đơn
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                </svg>
                    .content__right
                        .content__img 
                            //- img(src="./assets/images/page/cuisine/cs2-breakfast.png", alt="Buffet-sáng")
                            img.lazyload(data-src="./assets/images/page/cuisine/cs2-breakfast.png" alt="Buffet-sang")
        .cuisine-wrapper#cafe(data-box="2")
            .overlay-cuisine
            .container
                .content.table-row.column-10.margin-auto.column-12-tx
                    .content__left 
                        .content__title 
                            h2 Cafe sân vườn
                        .content__desc 
                            p Còn gì tuyệt vời hơn khi quý khách đón chào một ngày mới với một tách cà phê thơm ngon trong một sân viên vườn trong xanh, thoáng đãng. Cà phê sân vườn Hòa Bình là không gian lý tưởng và thuận tiện để quý khách hội ngộ bàn bè hay gặp gỡ đối tác.
                        .content__more 
                            a.btn-link--more(href="./cuisine-cafe") Xem thực đơn
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                </svg>
                    .content__right
                        .content__img 
                            //- img(src="./assets/images/page/cuisine/cs2-breakfast.png", alt="Buffet-sáng")
                            img.lazyload(data-src="./assets/images/page/cuisine/cs3-cafe.png" alt="cafe-sanvuon")
        .cuisine-wrapper#rice(data-box="3")
            .overlay-cuisine
            .container
                .content.table-row.column-10.margin-auto.column-12-tx
                    .content__left 
                        .content__title 
                            h2 Cơm đoàn
                        .content__desc 
                            p Còn gì tuyệt vời hơn khi quý khách đón chào một ngày mới với một tách cà phê thơm ngon trong một sân viên vườn trong xanh, thoáng đãng. Cà phê sân vườn Hòa Bình là không gian lý tưởng và thuận tiện để quý khách hội ngộ bàn bè hay gặp gỡ đối tác.
                        .content__more 
                            a.btn-link--more(href="./cuisine-rice") Xem thực đơn
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                </svg>
                    .content__right
                        .content__img 
                            //- img(src="./assets/images/page/cuisine/cs2-breakfast.png", alt="Buffet-sáng")
                            img.lazyload(data-src="./assets/images/page/cuisine/cs4-rice.png" alt="Com-doan")
        .cuisine-wrapper#breakfast(data-box="4")
            .overlay-cuisine
            .container
                .content.table-row.column-10.margin-auto.column-12-tx
                    .content__left 
                        .content__title 
                            h2 Điểm Tâm sáng
                        .content__desc 
                            p Còn gì tuyệt vời hơn khi quý khách đón chào một ngày mới với một tách cà phê thơm ngon trong một sân viên vườn trong xanh, thoáng đãng. Cà phê sân vườn Hòa Bình là không gian lý tưởng và thuận tiện để quý khách hội ngộ bàn bè hay gặp gỡ đối tác.
                        .content__more 
                            a.btn-link--more(href="./cuisine-breakfast") Xem thực đơn
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                </svg>
                    .content__right
                        .content__img 
                            //- img(src="./assets/images/page/cuisine/cs2-breakfast.png", alt="Buffet-sáng")
                            img.lazyload(data-src="./assets/images/page/cuisine/cs5-breakfast.png" alt="Diem-tam-sang")
        .cuisine-wrapper#restaurant(data-box="5")
            .overlay-cuisine
            .container
                .content.table-row.column-10.margin-auto.column-12-tx
                    .content__left 
                        .content__title 
                            h2 Nhà Hàng Pace
                        .content__desc 
                            p Còn gì tuyệt vời hơn khi quý khách đón chào một ngày mới với một tách cà phê thơm ngon trong một sân viên vườn trong xanh, thoáng đãng. Cà phê sân vườn Hòa Bình là không gian lý tưởng và thuận tiện để quý khách hội ngộ bàn bè hay gặp gỡ đối tác.
                        .content__more 
                            a.btn-link--more(href="./cuisine-restaurant") Xem thực đơn
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                </svg>
                    .content__right
                        .content__img 
                            //- img(src="./assets/images/page/cuisine/cs2-breakfast.png", alt="Buffet-sáng")
                            img.lazyload(data-src="./assets/images/page/cuisine/cs6-restaurant.png" alt="Nha-hang-pace")
    
    .cuisine-popup--overlay 
        .cuisine-popup
          .popup
            .path-restroom
            .popup-close 
            .popup-wrapper 
              .container
                .popup-wrapper--bg.column-8.column-10-ps.column-12-tl
                    .popup-wrapper__cuisine
                        h3 Thực đơn
                        img(src="./assets/images/page/cuisine/menu.png", alt="menu")
                        br
                        p Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ulla mcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetu er adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua.


                        