.section#cuisine3 
    .cuisine 
        .cuisine-cafe 
            .overlay-cuisine
            .container
                .content.table-row.column-10.margin-auto.column-12-tx
                    .content__left
                        .content__title 
                            h2 cafe sân vườn
                        .content__desc 
                            p Còn gì tuyệt vời hơn khi quý khách đón chào một ngày mới với một tách cà phê thơm ngon trong một sân viên vườn trong xanh, thoáng đãng. Cà phê sân vườn Hòa Bình là không gian lý tưởng và thuận tiện để quý khách hội ngộ bàn bè hay gặp gỡ đối tác.
                        .content__more 
                            a.btn-link--more(href="#")  Xem thực đơn
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                </svg>
                    .content__right 
                        .content__img 
                           img.lazyload(data-src="./assets/images/page/cuisine/cs3-cafe.png" alt="cafe-sânvườn")
                            