section#utilities-1__wrapper
    .tour-title.title-primary
        h2.title-shadow Gym,Billiards
        h2.title-content Gym, Billiard
    .section-box
        .container
            .items-section.column-10.table-row
                .items.column-6
                    .items__image
                        img(src="../assets/images/page/utilities/section1-pic-1.png", alt="Gym")
                        .items__image--hover
                            h3 gym
                    .items__text.infor-utilites
                        .decs
                            p Nằm trong tổ hợp khu giải trí của Green Garden Club, phục vụ miễn phí cho khách lưu trú tại khách sạn. Phòng gym được trang bị nhiều loại máy tập thể dục hiện đại và cần thiết để giúp quý khách duy trì thói quen rèn luyện sức khỏe ngay cả khi đi công tác hay du lịch.
                        .time
                            p Thời gian hoạt động: #[span.time-start 6:00]-#[span.time-end 22:00]
                .items.column-6
                    .items__image
                        img(src="../assets/images/page/utilities/section1-pic-2.png", alt="Billiard")
                        .items__image--hover
                            h3  Billiard
                    .items__text.infor-utilites
                        .decs
                            p Nằm trong tổ hợp khu giải trí của Green Garden Club, phục vụ miễn phí cho khách lưu trú tại khách sạn. Phòng gym được trang bị nhiều loại máy tập thể dục hiện đại và cần thiết để giúp quý khách duy trì thói quen rèn luyện sức khỏe ngay cả khi đi công tác hay du lịch.
                        .time
                            p Thời gian hoạt động: #[span.time-start 6:00]-#[span.time-end 22:00]
        .background
            img(src="../assets/images/page/utilities/background.png", alt="")
        