section#utilities-2__wrapper
    .tour-title.title-primary
        h2.title-shadow VuiNhộn
        h2.title-content Sân Chơi Cho Trẻ Em
    .section-box.custom-bg
        .container
            .section-1
                .section-1__image.column-10
                    img(src="../assets/images/page/utilities/section2-pic-1.png", alt="")
                .section-1__text.column-8
                    .items__text--decs
                        p Được thiết kế trong một không gian riêng, giữa sân vườn xanh của khách sạn, cùng với các trò chơi yêu thích của trẻ như xích đu, thú nhún, các bé sẽ được vui chơi trong một không gian thiên nhiên thật sự thoáng đãng và khỏe mạnh.
            .section-2.column-10
                .section-2__image.column-6
                    img(src="../assets/images/page/utilities/section2-pic-2.png", alt="")
                .section-2__text.column-5
                    .section-2__text--title
                        p Hồ Bơi Ngoài Trời
                    .section-2__text--decs.infor-utilites
                        .decs
                            p Hồ bơi tại khách sạn mở ra không gian tràn ngập nắng mai, bên cạnh hàng dừa xanh rợp bóng mát và khung cảnh nên thơ của khu vườn xanh đảo ngọc. Hai hồ bơi được thiết kế cạnh nhau cho người lớn và trẻ em, giúp quý khách vừa có thể thỏa sức bơi lội, đắm mình trong dòng nước mát, vừa có thể để mắt quan sát con trẻ. 
                        .time
                            p Thời gian hoạt động: #[span.time-start 6:00]-#[span.time-end 22:00]