section#utilities-3__wrapper
    .tour-title.title-primary
        h2.title-shadow BãiTắm
        h2.title-content Bãi Tắm Công Cộng
    .section-box
        .image__section
            img.lazyload(data-src="../assets/images/page/utilities/section3-pic-1.png", alt="Bãi Tắm - Bãi Tắm Công Cộng")
        .container
            .section__text.column-8
                    .items__text--decs
                        p Khách sạn cách bãi tắm công cộng 150m và chỉ mất từ 03 đến 05 phút đi bộ đến bãi biển với bãi cát trắng mịn màng. Hãy đắm mình trong dòng nước trong xanh, mát lành, đón ánh nắng bình minh hay ngắm hoàng hôn tuyệt đẹp trên biển.