section#utilities-2__wrapper
    .tour-title.title-primary
        h2.title-shadow BãiXeMiễnPhí
        h2.title-content Bãi Đỗ Xe Miễn Phí
    .section-box
        .container
            .section-1
                .section-1__image.column-10
                    img(src="../assets/images/page/utilities/section4-pic-1.png", alt="")
                .section-1__text.column-8
                    .items__text--decs
                        p Khách sạn có sân trước và sân sau, khuôn viên rộng, đáp ứng được một lượng xe lớn với nhiều kích cỡ. Đừng lo lắng về bãi đỗ xe nếu quý khách đi xe riêng của gia đình hay đi du lịch theo lớn, tất cả đã sẵn sang phục vụ miễn phí cho quý khách. 