section#service-1 
  .service-1
    .container 
      .tour-title.title-primary
        h2.title-shadow TổChứcTour
        h2.title-content Tổ Chức Tour
      .tour-content.table-row.between.no-between-mx
        .tour-content--container.column-10.column-12-tx.table-row.between.table-column-3
          .tour-content-card
            .tour-content__img 
              img(src="./assets/images/page/service/tour1.png" alt="tour 1")
            .tour-content__box
              .box-item 
                .box-item-icons
                  .box-item-icons__img
                    img(src="./assets/icons/tour1.png", alt="tour1")
                  .box-item-icons__img
                    img(src="./assets/icons/tour2.png", alt="tour2")

                .box-item-content
                  .box-item-content__title 
                    h4 Tour kết hợp
                  .box-item-content__desc
                    p Câu cá, ngắm san hô kết hợp câu mực đêm.
                    .box-item-content__time
                      p Thời gian: 
                        span 12:00 - 21:00
                  .box-item-content__more
                    a(href="") Xem thêm
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9">
                        <path id="Polygon_2" data-name="Polygon 2" d="M4.5,0,9,6H0Z" transform="translate(6) rotate(90)" fill="#fff"/>
                      </svg>
          .tour-content-card.tour-content-card--defalt
            .tour-content__box
              .box-item 
                .box-item-icons
                  .box-item-icons__img
                    img(src="./assets/icons/tour1.png", alt="tour1")
                  .box-item-icons__img
                    img(src="./assets/icons/tour2.png", alt="tour2")
                  .box-item-icons__img
                    img(src="./assets/icons/tour3.png", alt="tour3")
                  .box-item-icons__img
                    img(src="./assets/icons/tour4.png", alt="tour4")
                .box-item-content
                  .box-item-content__title 
                    h4 Tour kết hợp
                  .box-item-content__desc
                    p Câu cá, ngắm san hô kết hợp câu mực đêm ngắm hoàng hôn.
                    .box-item-content__time
                      p Thời gian: 
                        span 12:00 - 21:00
                  .box-item-content__more
                    a(href="") Xem thêm
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9">
                        <path id="Polygon_2" data-name="Polygon 2" d="M4.5,0,9,6H0Z" transform="translate(6) rotate(90)" fill="#fff"/>
                      </svg>
          .tour-content-card
            .tour-content__img 
              img(src="./assets/images/page/service/tour2.png" alt="tour 2")
            .tour-content__box
              .box-item 
                .box-item-icons
                  .box-item-icons__img
                    img(src="./assets/icons/tour3.png", alt="tour3")
                  .box-item-icons__img
                    img(src="./assets/icons/tour4.png", alt="tour4")
                .box-item-content
                  .box-item-content__title 
                    h4 Tour câu mực ngắm hoàng hôn
                  .box-item-content__desc
                    p Câu mực đêm, ngắm hoàng hôn
                    .box-item-content__time
                      p Thời gian: 
                        span 17:00 - 21:00
                  .box-item-content__more
                    a(href="") Xem thêm
                      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9">
                        <path id="Polygon_2" data-name="Polygon 2" d="M4.5,0,9,6H0Z" transform="translate(6) rotate(90)" fill="#fff"/>
                      </svg>
      

