section#service-1 
  .service-1
    .container 
      .tour-title 
      .tour-content.table-row.between
        .tour-content--container.column-10.table-row.between.table-column-2.table-column-1-ps.table-column-3-mx
          .tour-content-card
            .tour-content__img 
              img(src="./assets/images/page/service/tour1.png" alt="tour 1")
            .tour-content-item.tour-content__box 
              .box-item 
                .box-item-icons
                  .box-item-icons__img
                  .box-item-icons__img
                  .box-item-icons__img
                  .box-item-icons__img
                .box-item-content
                  .box-item-content__title 
                  .box-item-content__desc
                  .box-item-content__time
                  .box-item-content__more
          .tour-content-card
            .tour-content__img 
              img(src="./assets/images/page/service/tour1.png" alt="tour 1")
            .tour-content-item.tour-content__box 
              .box-item 
                .box-item-icons
                  .box-item-icons__img
                  .box-item-icons__img
                  .box-item-icons__img
                  .box-item-icons__img
                .box-item-content
                  .box-item-content__title 
                  .box-item-content__desc
                  .box-item-content__time
                  .box-item-content__more
          .tour-content-card
            .tour-content__img 
              img(src="./assets/images/page/service/tour2.png" alt="tour 2")
            .tour-content-item.tour-content__box 
              .box-item 
                .box-item-icons
                  .box-item-icons__img
                  .box-item-icons__img
                  .box-item-icons__img
                  .box-item-icons__img
                .box-item-content
                  .box-item-content__title 
                  .box-item-content__desc
                  .box-item-content__time
                  .box-item-content__more
      

