section#service-2 
  .service-2
    .service-tour 
      .service-tour__title.title-primary
        h2.title-shadow ChoThuêXe
        h2.title-content Cho Thuê Xe
      .service-tour__content
        .service-tour__content-desc
          .container
            .column-10.column-12-ps.margin-auto
              p Là một trong những đơn vị lữ hành sở hữu một đội xe hùng hậu với các dòng xe hiện đại và chất lượng cao. Cùng với sự uy tín, cung cách phục vụ chuyên nghiệp, ân cần, chu đáo, và đặc biệt luôn nêu cao ý thức về bảo vệ tài sản và an toàn của quý khách. Đội xe của chúng tôi luôn là người đồng hành đáng tin cậy để xứng đáng với sự tin tưởng mà quý khách đã và đang dành cho chúng tôi.
        .service-tour__content-img
          img.lazyload(data-src="./assets/images/page/service/service-2.png", alt="Cho Thuê Xe")
      