section#service-3 
  .service-3 
    .service-logo
      .container 
        .service-logo--list.table-row.between.table-column-2-tl.table-column-1-sl
          .service-logo__item.column-2.column-3-pm
            .service-logo__item-img
              img.lazyload(data-src="./assets/icons/noun_Tuk tuk_3412568.png", alt="Dịch vụ đưa đón sân bay, bến tàu")
            .service-logo__item-desc
              p Dịch vụ đưa đón sân bay, bến tàu Dịch vụ phục vụ khách đi công tác
          .service-logo__item.column-2.column-3-pm
            .service-logo__item-img
              img.lazyload(data-src="./assets/icons/noun_Bus_842490.png", alt="Dịch vụ phục vụ khách đi tham quan trên đảo")
            .service-logo__item-desc
              p Dịch vụ phục vụ khách đi tham quan trên đảo
          .service-logo__item.column-2.column-3-pm
            .service-logo__item-img
              img.lazyload(data-src="./assets/icons/noun_Tuk tuk_3412568.png", alt="Các dịch vụ khác")
            .service-logo__item-desc
              p Các dịch vụ khác
          .service-logo__item.column-2.column-3-pm
            .service-logo__item-img
              img.lazyload(data-src="./assets/icons/Group 5931.png", alt="Dịch vụ đặt mua vé tàu cao tốc")
            .service-logo__item-desc
              p Dịch vụ đặt mua vé tàu cao tốc

    .service-wrapper 
      .container
        .service-wrapper-container.column-10.column-12-pm
          .service-wrapper__img.column-6.column-12-ts
            img.lazyload(data-src="./assets/images/page/service/Pearl-farm-Phu-Quoc.png", alt="Quầy Lưu Niệm")
          .service-wrapper__content.column-5.column-12-ts
            .box 
              .box__title.title-second 
                h2 QuầyLưuNiệm
              .box__desc 
                p Đừng quá lo lắng cho chuyến đi của bạn vì quầy lưu niệm của chúng tôi có trưng bày những vật dụng cần thiết cho kỳ nghỉ của bạn như: giày, dép, dù, kem chống nắng, mũ nón, quần, áo tắm biển, kính mát, kính bơi…. Ngoài ra, hãy chọn lựa những món quà lưu niệm cho gia đình, người thân và bạn bè với những sản phẩm rất riêng của Phú Quốc như rượu Sim, áo thun, đồ chơi thú bông, chìa khóa được làm thủ công từ vỏ sò, vòng đeo tay, khăn tay, túi điện thoại…

