section#service-4 
  .service-4 
    .service-spa
      .service-spa__title.title-primary
        h2.title-shadow SpaMassageSauna
        h2.title-content Spa, Massage, Sauna
      .service-spa__desc 
        .container
          .column-10.column-12-ps.margin-auto
            p Nằm ngay cạnh tiền sảnh lễ tân, được đầu tư xây dựng đầy đủ các tiện ích. Dịch vụ của chúng tôi bao gồm đa dạng các liệu trình massage, xông hơi, spa. Hãy thư giãn và để chúng tôi chăm sóc quý khách sau một ngày tham quan mệt mỏi hay làm việc căng thẳng. Đội ngũ nhân viên chuyên nghiệp hàng đầu của chúng tôi hứa hẹn sẽ mang tới sự hài lòng cho mọi khách hàng.
      .service-spa__img
        .container
          .imgs.column-10.column-12-tl.margin-auto
            .swiper-container.imgs-swiper
              .swiper-wrapper
                  .swiper-slide 
                    .imgs-item
                      img(src="./assets/images/page/service/1.png", alt="Spa Massage Sauna slide 1")
                  .swiper-slide 
                    .imgs-item
                      img(src="./assets/images/page/service/1.png", alt="Spa Massage Sauna slide 2")
                  .swiper-slide 
                    .imgs-item
                      img(src="./assets/images/page/service/1.png", alt="Spa Massage Sauna slide 3")
                  .swiper-slide 
                    .imgs-item
                      img(src="./assets/images/page/service/1.png", alt="Spa Massage Sauna slide 4")
            .swiper-button-next
              <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                  <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                      <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                      <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </g>
              </svg>

            .swiper-button-prev  
              svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                  g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                      path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                      path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")