extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Contact';
	//- - let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Liên hệ";
	- let imgBannerSub = "./assets/images/layout/banner/contact.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Liên hệ", "active"]];

block main
	div(id="contactPage")
		include _templates/contact/c-1.pug
		include _templates/contact/c-2.pug
		include _templates/contact/c-3.pug
		
//- AIzaSyDrNYxVo-nCBnDbDcenAcfzOzw2TKdSmIY      
block scripts
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrNYxVo-nCBnDbDcenAcfzOzw2TKdSmIY&callback=initMap" async defer)
	//- script(src="./js/map.min.js")
		