extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Contact';
	//- - let bodyClass = 'index-page';
	- let banner = false;
	
	- let bannerSub = false;
	- let titleBannerSub = "Liên Hệ";
	- let imgBannerSub = "./assets/images/page/service/banner.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Liên hệ", "active"]];
	//- - let breadcrumbs = ["Trang chủ", "Trang chủ", "Tin tức"];

//- block loading
//- 	include _templates/_layout/_loading
//- block banner,breadcrumb

block main
	div(id="contactPage")
		include _templates/contact/c-1.pug
		include _templates/contact/c-2.pug
		
//- AIzaSyDrNYxVo-nCBnDbDcenAcfzOzw2TKdSmIY      
block scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrNYxVo-nCBnDbDcenAcfzOzw2TKdSmIY&callback=initMap" async defer)
	//- script(src="./js/map.min.js")
		