extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Ẩm thực";
	- let imgBannerSub = "./assets/images/layout/banner/cuisine.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Ẩm thực", "active"]];

block main
	div(id="cuisinePage")
		include _templates/cuisine/cs-1
		include _templates/cuisine/cs-2
		include _templates/cuisine/cs-3
		


block scripts
