extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Ưu đãi";
	- let imgBannerSub = "./assets/images/layout/banner/endow.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Ưu đãi", "active"]];

block main
	div(id="endowPage")
		include _templates/endow/e-1
		include _templates/endow/e-2


block scripts
