extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Hội nghị";
	- let imgBannerSub = "./assets/images/layout/banner/restroom.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Hội nghị", "active"]];

block main
	div(id="forumPage")
		include _templates/forum/f-1
		include _templates/forum/f-2
		include _templates/forum/f-3

block scripts
