extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let titleBanner = "Lorem ipsum dolor sit amet";
	- let textBanner = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.";
	- let imgBanner = "./assets/images/banner.jpg";
	//- - let breadcrumbs = ["Tiện ích", "INCOTERMS 2000"];

//- block loading
//- 	include _templates/_layout/_loading
//- block banner,breadcrumb
block main
	div(id="indexPage")
		include _templates/forum/f-1


block scripts
