extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Phòng nghỉ";
	- let imgBannerSub = "./assets/images/layout/banner/restroom.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Phòng nghỉ", "active"]];

block main
	div(id="restroomPage")
		include _templates/restroom/r-1
		include _templates/restroom/r-2
		
block scripts
