extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Service';
	//- - let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Dịch vụ";
	- let imgBannerSub = "./assets/images/layout/banner/service.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Dịch vụ", "active"]];

block main
	div(id="servicePage")
		include _templates/service/s-1.pug
		include _templates/service/s-2.pug
		include _templates/service/s-3.pug
		include _templates/service/s-4.pug
		include _templates/service/s-5.pug
		include _templates/service/s-6.pug

block scripts
