extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Utilities';
	//- - let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Tiện ích";
	- let imgBannerSub = "./assets/images/layout/banner/utilities.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Tiện ích", "active"]];

block main
	div(id="utilitiesPage")
		include _templates/utilities/u-1.pug
		include _templates/utilities/u-2.pug
		include _templates/utilities/u-3.pug
		include _templates/utilities/u-4.pug
		include _templates/utilities/u-5.pug

block scripts
