extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let banner = false;
	- let bannerSub = true;
	- let titleBannerSub = "Tiệc cưới";
	- let imgBannerSub = "./assets/images/layout/banner/restroom.png";
	- let breadcrumbBanner = [["Trang chủ", ""], ["Tiệc cưới", "active"]];

block main
	div(id="weddingPage")
		include _templates/wedding/w-1
		include _templates/wedding/w-2
		include _templates/wedding/w-3
		include _templates/wedding/w-4
		include _templates/wedding/w-5
		include _templates/wedding/w-6
block scripts
