section#index1
	.index
		.index-intro 
			.index-intro__section 
				.container 
					.content.table-row.margin-auto
						.content__left.column-9.column-12-tm
							.content__title 
								h3 GIỚI THIỆU
							.content__titleSub 
								h2 Hòa Bình Phú Quốc Resort
							.content__desc 
								p Tọa lạc tại trung tâm phường Dương Đông, thành phố Phú Quốc, với vị thế tựa lưng vào đồi Bà Kèo, mặt hướng ra biển, Hòa Bình Phú Quốc Resort là khu nghỉ dưỡng khang trang, hiện đại, đạt tiêu chuẩn 4 sao với gần 200 phòng nghỉ đầy đủ tiện nghi. Quý khách chỉ cần 5 phút tản bộ để có thể đến bãi biển và đắm mình vào làn nước trong xanh hoặc khám phá chợ đêm náo nhiệt chỉ trong vòng 10 phút đi bộ...
							.content__more 
								a.btn-link--more(href="#") Xem thêm
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
										<path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
									</svg>
						.content__right.column-6.column-12-tm
							.content__slide 
								.content-intro--swiper.swiper-container
									.swiper-wrapper
										.swiper-slide 
											.content-box 
												.content__img
													img.lazyload(data-src="./assets/images/page/index/i1-img-intro.png" alt="index-intro")
													//- img(src="./assets/images/page/index/i1-img-intro.png" alt="index-intro")
													//- img(src="./assets/images/page/index/i1-img-intro.png" alt="index-intro")
													//- img(src="./assets/images/page/index/i1-img-intro.png" alt="index-intro")
								.swiper-pagination
												