section#index1
	.container
		.index-list.table-row.between
			.index-1.size-s73
				.index-1--padding
					img(src="./assets/images/layout/banner/HBPQ 1.png" alt="Banner")
					p test
			.index-1.size-s73
				img(src="./assets/images/layout/banner/HBPQ 1.png" alt="Banner")
				p test
			.index-1.size-s73
				img(src="./assets/images/layout/banner/HBPQ 1.png" alt="Banner")
				p test

