section#index2 
    .index-restroom 
        .container 
            .index-restroom__content.column-10.column-12-tx.margin-auto 
                .index-restroom__title 
                  h2.index-restroom__title--size  Phòng Nghỉ
                .index-restroom__slide.swiper-button__replace
                    .index-restroom--swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide 
                                .restroom-box 
                                    .restroom-box__img
                                        img.restroom-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Superior
                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(href="#") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                            .swiper-slide 
                                .restroom-box 
                                    .restroom-box__img
                                        img.restroom-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Suite Sea View

                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(href="#") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                            .swiper-slide 
                                .restroom-box 
                                    .restroom-box__img
                                        img.restroom-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Suite Sea View
                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(href="#") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                    .swiper-button-next
                    .swiper-button-prev                