section#index2
    .index-restroom
        .overlay-restroom.path-restroom
        .container 
            .index-restroom__content.column-10.column-12-tl.margin-auto 
                .index-restroom__title 
                  h2.index-restroom__title--size Phòng Nghỉ
                .index-restroom__slide.swiper-button__replace
                    .index-restroom--swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide 
                                .restroom-box(data-box="1")
                                    .restroom-box__img
                                        img.restroom-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Phòng Nghỉ - Superior")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Superior
                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(data-href="./restroom.html" href="/restroom/box-1") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                            .swiper-slide 
                                .restroom-box(data-box="2")
                                    .restroom-box__img
                                        img.restroom-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Phòng Nghỉ - Suite Sea View")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Suite Sea View

                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(data-href="./restroom.html" href="/restroom/box-2") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                            .swiper-slide 
                                .restroom-box(data-box="3")
                                    .restroom-box__img
                                        img.restroom-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Phòng Nghỉ - Suite Sea View")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Suite Sea View
                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(data-href="./restroom.html" href="/restroom/box-3") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                            .swiper-slide 
                                .restroom-box(data-box="4")
                                    .restroom-box__img
                                        img.restroom-box__img--src.lazyload(data-src="./assets/images/page/index/i2-img-2.png" alt="Phòng Nghỉ - Suite Sea View")
                                    .restroom-box__content
                                        .restroom-box__title
                                            h3.restroom-box__title--size Suite Sea View
                                        .restroom-box__desc
                                            p Nằm ở tầng 2 và tầng 3 của tòa nhà 3 tầng ở tiền sảnh lễ tân, thuận tiện di chuyển cho gia đình có người cao tuổi hay trẻ nhỏ, ban công rộng hướng vườn hoặc hồ bơi giường đôi lớn hoặc 2 giường đơn nhỏ, nội thất hiện đại, đầy đủ tiện nghi, nhưng giá cả phải chăng, Superior giúp quý khách tiết kiệm 
                                        .restroom-box__bottom
                                            .restroom-box__booking 
                                                a.btn-link--booking(href="#") ĐẶT PHÒNG
                                            .restroom-box__more
                                                a.btn-link--more(data-href="./restroom.html" href="/restroom/box-4") Xem thêm
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                        <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                    </svg>
                    .swiper-button-next
                        <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                            <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                        </svg>

                    .swiper-button-prev   
                        svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                            g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
            .index-restroom__more
                a.index-restroom__more--size(href="#") Xem thêm tất cả các phòng