section#index3
    .index-endow 
        .title-primary
            h2.title-shadow TậnHưởng
            h2.title-content Ưu Đãi
    
        //- .title-shadow
        //-     h2 TậnHưởng
        //-     .title-content
        //-         h2 Ưu Đãi
        .container
            .index-endow__content.column-12
                .index-endow__left.column-4
                    ul.index-endow__left--list 
                        li.index-endow__left--items 
                            p.index-endow__left--desc(data-active="1").active Phòng nghỉ
                        li.index-endow__left--items
                            p.index-endow__left--desc(data-active="2") Ẩm thực
                        li.index-endow__left--items
                            p.index-endow__left--desc(data-active="3") Tiệc cưới
                        li.index-endow__left--items
                            p.index-endow__left--desc(data-active="4") Hội nghị
                        li.index-endow__left--items
                            p.index-endow__left--desc(data-active="5") Tour
                .index-endow__right.column-8
                    .index-endow__slide(data-active="1").swiper-button__replace
                        .index-endow--swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .endow-box 
                                        .endow-box__img
                                            img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                        .endow-box__content
                                            .endow-box__title
                                                h3.endow-box__title--size Lorem ipsum dolor sit 1
                                            .endow-box__desc
                                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                            .endow-box__bottom
                                                .endow-box__more
                                                    a.btn-link--more(href="#") Xem thêm
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                            <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                        </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                    <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>

                        .swiper-button-prev   
                            svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                                g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                    path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                    path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                    .index-endow__slide(data-active="2").swiper-button__replace
                        .index-endow--swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .endow-box 
                                        .endow-box__img
                                            img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                        .endow-box__content
                                            .endow-box__title
                                                h3.endow-box__title--size Lorem ipsum dolor sit 2
                                            .endow-box__desc
                                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                            .endow-box__bottom
                                                .endow-box__more
                                                    a.btn-link--more(href="#") Xem thêm
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                            <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                        </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                    <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>

                        .swiper-button-prev   
                            svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                                g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                    path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                    path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                    .index-endow__slide(data-active="3").swiper-button__replace
                        .index-endow--swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .endow-box 
                                        .endow-box__img
                                            img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                        .endow-box__content
                                            .endow-box__title
                                                h3.endow-box__title--size Lorem ipsum dolor sit 3
                                            .endow-box__desc
                                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                            .endow-box__bottom
                                                .endow-box__more
                                                    a.btn-link--more(href="wedding.html") Xem thêm
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                            <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                        </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                    <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>

                        .swiper-button-prev   
                            svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                                g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                    path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                    path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                    .index-endow__slide(data-active="4").swiper-button__replace
                        .index-endow--swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .endow-box 
                                        .endow-box__img
                                            img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                        .endow-box__content
                                            .endow-box__title
                                                h3.endow-box__title--size Lorem ipsum dolor sit 4
                                            .endow-box__desc
                                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                            .endow-box__bottom
                                                .endow-box__more
                                                    a.btn-link--more(href="#") Xem thêm
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                            <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                        </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                    <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>

                        .swiper-button-prev   
                            svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                                g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                    path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                    path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                    .index-endow__slide(data-active="5").swiper-button__replace
                        .index-endow--swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .endow-box 
                                        .endow-box__img
                                            img.endow-box__img--src(src="./assets/images/page/index/i2-img-2.png" alt="")
                                        .endow-box__content
                                            .endow-box__title
                                                h3.endow-box__title--size Lorem ipsum dolor sit 5
                                            .endow-box__desc
                                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                            .endow-box__bottom
                                                .endow-box__more
                                                    a.btn-link--more(href="#") Xem thêm
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                            <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                        </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                    <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>

                        .swiper-button-prev   
                            svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                                g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                    path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                    path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
