section#index4 
    .index4
        .index-uilities
            .title-primary
                h2.title-shadow TrảiNghiệm
                h2.title-content Tiện Ích
            .index-uilities__wrapper
                .index-uilities__layout
                    .index-uilities__layout--img
                        img(src="./assets/images/page/index/hoboi3.png" alt="")
                    .index-uilities__layout--color
                        .overlay-restroom
                .index-uilities__content
                    .container
                        .index-uilities__box
                            .index-uilities__left
                                .index-uilities__boxleft(data-active="1")
                                    .content
                                        .content__title 
                                            h2.content__title--size Gym
                                        .content__desc 
                                            p.content__desc--size Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
                                        .content__more
                                            a.btn-link--more(href="#") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                                .index-uilities__boxleft(data-active="2")
                                    .content
                                        .content__title 
                                            h2.content__title--size Sân chơi trẻ
                                        .content__desc 
                                            p.content__desc--size Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
                                        .content__more
                                            a.btn-link--more(href="#") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                                .index-uilities__boxleft(data-active="3")
                                    .content
                                        .content__title 
                                            h2.content__title--size Hồ bơi
                                        .content__desc 
                                            p.content__desc--size Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
                                        .content__more
                                            a.btn-link--more(href="#") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                                .index-uilities__boxleft(data-active="4")
                                    .content
                                        .content__title 
                                            h2.content__title--size Bãi tắm công cộng 
                                        .content__desc 
                                            p.content__desc--size Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
                                        .content__more
                                            a.btn-link--more(href="#") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                                .index-uilities__boxleft(data-active="5")
                                    .content
                                        .content__title 
                                            h2.content__title--size Bãi đổ xe miễn phí
                                        .content__desc 
                                            p.content__desc--size Lorem ipsum dolor sit amet, consectetuer adipisci ng elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliqua m erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
                                        .content__more
                                            a.btn-link--more(href="#") Xem thêm
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,8H0Z" transform="translate(8) rotate(90)" fill="#004a8f"/>
                                                </svg>
                            .index-uilities__right
                                ul.index-uilities__right--list
                                    li.index-uilities__right--items(data-active="1")
                                        .index-uilities__right--img 
                                            <svg id="Group_4780" data-name="Group 4780" xmlns="http://www.w3.org/2000/svg" width="52.794" height="47.844" viewBox="0 0 52.794 47.844">
                                                <path id="Path_10613" data-name="Path 10613" d="M32.8,43H30.325a.825.825,0,0,0,0,1.65H32.8a.825.825,0,0,0,0-1.65Z" transform="translate(-5.165 -10.004)" fill="#fff"/>
                                                <path id="Path_10614" data-name="Path 10614" d="M33.449,39H29.325a.825.825,0,0,0,0,1.65h4.125a.825.825,0,1,0,0-1.65Z" transform="translate(-4.99 -9.303)" fill="#fff"/>
                                                <path id="Path_10615" data-name="Path 10615" d="M30.325,36.65H32.8a.825.825,0,0,0,0-1.65H30.325a.825.825,0,0,0,0,1.65Z" transform="translate(-5.165 -8.603)" fill="#fff"/>
                                                <path id="Path_10616" data-name="Path 10616" d="M39.148,48.323v-1.65A2.475,2.475,0,0,0,36.673,44.2V34.3a3.3,3.3,0,0,0-3.3-3.3h-6.6a3.3,3.3,0,0,0-3.3,3.3v9.9A2.475,2.475,0,0,0,21,46.673v1.65a.825.825,0,0,0,.825.825h4.125V54.1a1.65,1.65,0,0,0,1.65,1.65h4.949A1.65,1.65,0,0,0,34.2,54.1V49.148h4.125A.825.825,0,0,0,39.148,48.323ZM25.125,34.3a1.65,1.65,0,0,1,1.65-1.65h6.6a1.65,1.65,0,0,1,1.65,1.65v9.9h-9.9Zm7.424,19.8H27.6V49.148h4.949ZM37.5,47.5H22.65v-.825a.825.825,0,0,1,.825-.825h13.2a.825.825,0,0,1,.825.825Z" transform="translate(-3.677 -7.903)" fill="#fff"/>
                                                <path id="Path_10617" data-name="Path 10617" d="M14.65,38.65v-.825a.825.825,0,0,0-1.65,0v.825a.825.825,0,0,0,1.65,0Z" transform="translate(-2.276 -8.953)" fill="#fff"/>
                                                <path id="Path_10618" data-name="Path 10618" d="M50.319,13.724h-.825a2.475,2.475,0,0,0-2.475-2.475h-.825a2.475,2.475,0,0,0-2.475,2.475V16.2H42.07V4.65A1.65,1.65,0,0,0,40.42,3h-1.65a1.65,1.65,0,0,0-1.65,1.65V16.2H15.673V4.65A1.65,1.65,0,0,0,14.023,3h-1.65a1.65,1.65,0,0,0-1.65,1.65V16.2H9.074V13.724A2.475,2.475,0,0,0,6.6,11.249H5.774A2.475,2.475,0,0,0,3.3,13.724H2.475A2.475,2.475,0,0,0,0,16.2v4.949a2.475,2.475,0,0,0,2.475,2.475H3.3A2.475,2.475,0,0,0,5.774,26.1H6.6a2.475,2.475,0,0,0,2.475-2.475V21.148h1.65v7.424a.825.825,0,0,0,1.65,0V4.65h1.65v39.6h-1.65V36a.825.825,0,0,0-1.65,0v8.538a4.949,4.949,0,0,0-3.3,4.661v.825a.825.825,0,0,0,.825.825h9.9a.825.825,0,0,0,.825-.825v-.825a4.949,4.949,0,0,0-3.3-4.661V21.148H37.121V44.534a4.949,4.949,0,0,0-3.3,4.661v.825a.825.825,0,0,0,.825.825h9.9a.825.825,0,0,0,.825-.825v-.825a4.949,4.949,0,0,0-3.3-4.661V21.148h1.65v2.475A2.475,2.475,0,0,0,46.195,26.1h.825a2.475,2.475,0,0,0,2.475-2.475h.825a2.475,2.475,0,0,0,2.475-2.475V16.2A2.475,2.475,0,0,0,50.319,13.724ZM3.3,21.973H2.475a.825.825,0,0,1-.825-.825V16.2a.825.825,0,0,1,.825-.825H3.3Zm4.125,1.65a.825.825,0,0,1-.825.825H5.774a.825.825,0,0,1-.825-.825v-9.9a.825.825,0,0,1,.825-.825H6.6a.825.825,0,0,1,.825.825Zm3.3-4.125H9.074v-1.65h1.65Zm6.6,29.7H9.074a3.3,3.3,0,0,1,3.3-3.3h1.65A3.3,3.3,0,0,1,17.323,49.195ZM38.771,4.65h1.65v39.6h-1.65ZM15.673,19.5v-1.65H37.121V19.5Zm28.047,29.7H35.471a3.3,3.3,0,0,1,3.3-3.3h1.65A3.3,3.3,0,0,1,43.72,49.195Zm0-29.7H42.07v-1.65h1.65Zm4.125,4.125a.825.825,0,0,1-.825.825h-.825a.825.825,0,0,1-.825-.825v-9.9a.825.825,0,0,1,.825-.825h.825a.825.825,0,0,1,.825.825Zm3.3-2.475a.825.825,0,0,1-.825.825h-.825v-6.6h.825a.825.825,0,0,1,.825.825Z" transform="translate(0 -3)" fill="#fff"/>
                                            </svg>
                                        p.index-uilities__right--desc Gym
                                    li.index-uilities__right--items(data-active="2")
                                        .index-uilities__right--img 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="72.083" height="47.674" viewBox="0 0 72.083 47.674">
                                                <g id="Group_4795" data-name="Group 4795" transform="translate(0 0)">
                                                    <g id="Group_4794" data-name="Group 4794">
                                                    <path id="Path_10620" data-name="Path 10620" d="M23.879,17.212a1.921,1.921,0,0,1,1.563-1.871v7.3H23.879Zm5.074,0v5.43h-1.3V15.394a1.936,1.936,0,0,1,1.3,1.818Zm-6.178,7.64h7.281a1.1,1.1,0,0,0,1.1-1.1V17.212A4.163,4.163,0,0,0,27,13.052H25.827a4.165,4.165,0,0,0-4.156,4.16v6.535a1.1,1.1,0,0,0,1.1,1.1Z" transform="translate(14.568 5.996)" fill="#fff" fill-rule="evenodd"/>
                                                    <path id="Path_10621" data-name="Path 10621" d="M7.156,17.212a1.922,1.922,0,0,1,1.477-1.853v7.283H7.156Zm5.074,0v5.43H10.84V15.377a1.932,1.932,0,0,1,1.389,1.836Zm-6.178,7.64h7.281a1.1,1.1,0,0,0,1.1-1.1V17.212a4.163,4.163,0,0,0-4.156-4.16H9.1a4.165,4.165,0,0,0-4.156,4.16v6.535a1.1,1.1,0,0,0,1.1,1.1Z" transform="translate(3.326 5.996)" fill="#fff" fill-rule="evenodd"/>
                                                    <path id="Path_10622" data-name="Path 10622" d="M46.554,47.126h.924V35.535h-.924Zm-40.123,0h.924V35.535H6.431ZM19.61,19.9V33.325H6.431V19.9Zm3.143,4.552v4.705a7.025,7.025,0,0,0-.936.66V26.79a3.54,3.54,0,0,1,.936-2.342Zm9.436,5.365a7.7,7.7,0,0,0-.856-.6V24.542a3.511,3.511,0,0,1,.856,2.248Zm5.339,17.312h6.819V35.535H37.528Zm-3.132,0h.924V35.535H34.4ZM25.9,28.084a8.842,8.842,0,0,0-.939.18V23.022a5.99,5.99,0,0,1,.939-.236Zm3.226.2a8.9,8.9,0,0,0-1.018-.2v-5.3a6.026,6.026,0,0,1,1.018.271ZM21.817,34.43V34.3c0-2.26,2.325-4.1,5.186-4.1s5.186,1.841,5.186,4.1V47.126H21.817Zm-3.132,12.7h.924V35.535h-.924Zm-9.124,0h6.916V35.535H9.562ZM47.572,19.9V33.325H34.4V19.9Zm-.827-3.48,1.133,1.27H34.09l1.133-1.27ZM70.979,47.126h-.568V43.844a4.826,4.826,0,0,0-1.36-3.406A3.773,3.773,0,0,0,66.385,39.3h-.027a1.5,1.5,0,0,1-.9-.312l-3.488-2.554a3.962,3.962,0,0,1-.206-.6C61.49,34.919,60.922,33,58.63,33a4.849,4.849,0,0,1-2.8-1.105L49.78,27.524V19.9h.562a1.107,1.107,0,0,0,.824-1.841l-2.981-3.341L46.077,10.5a1.1,1.1,0,1,0-1.972.987l1.36,2.722H36.5l4.485-8.971L42.2,7.657a1.1,1.1,0,1,0,1.972-.987l-2.2-4.4a1.1,1.1,0,0,0-1.972,0L33.781,14.719l-2.976,3.338a1.1,1.1,0,0,0,.821,1.838h.562v2.4A8.07,8.07,0,0,0,27,20.48a8.318,8.318,0,0,0-3.273.681,1.108,1.108,0,0,0-.656.3,7.583,7.583,0,0,0-1.257.837V12.327a1.1,1.1,0,0,0-1.1-1.1H17.355a1.1,1.1,0,0,0-1.1,1.1v3.362a1.1,1.1,0,1,0,2.207,0V13.432H19.61v4.254H6.431V13.432H7.579v2.257a1.1,1.1,0,1,0,2.207,0V12.327a1.1,1.1,0,0,0-1.1-1.1H5.327a1.1,1.1,0,0,0-1.1,1.1v34.8H1.1a1.1,1.1,0,0,0,0,2.21H54.512a1.1,1.1,0,0,0,0-2.21H49.689V37.892l4.741,3.462a1.106,1.106,0,0,0,1.3-1.788l-5.951-4.34V30.249l4.75,3.438a6.95,6.95,0,0,0,4.1,1.523c.547,0,.7.188,1.015,1.255a2.907,2.907,0,0,0,.921,1.659l3.576,2.643a3.7,3.7,0,0,0,2.213.742h.021A1.794,1.794,0,0,1,67.494,42a2.607,2.607,0,0,1,.709,1.841V47H65.881l-6.769-4.959a1.1,1.1,0,0,0-1.3,1.783l4.5,3.3H57.57a1.1,1.1,0,0,0,0,2.21H70.979a1.1,1.1,0,0,0,0-2.21Z" transform="translate(0 -1.661)" fill="#fff" fill-rule="evenodd"/>
                                                    <path id="Path_10623" data-name="Path 10623" d="M7.252,12.95a1.1,1.1,0,0,0,1.1-1.1V9.588H9.506v2.257a1.1,1.1,0,1,0,2.207,0V8.483a1.1,1.1,0,0,0-1.1-1.1H7.252a1.1,1.1,0,0,0-1.1,1.1v3.362a1.1,1.1,0,0,0,1.1,1.1" transform="translate(4.133 2.182)" fill="#fff" fill-rule="evenodd"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        p.index-uilities__right--desc Sân chơi trẻ em 
                                    li.index-uilities__right--items(data-active="3").active
                                        .index-uilities__right--img 
                                            <svg id="noun_Pool_2510317" xmlns="http://www.w3.org/2000/svg" width="73.615" height="57.83" viewBox="0 0 73.615 57.83">
                                                <g id="Layer_2" data-name="Layer 2" transform="translate(0 0)">
                                                    <path id="Path_10624" data-name="Path 10624" d="M72.986,39.178a10.043,10.043,0,0,0-2.629.342V23.4a2.629,2.629,0,0,0-2.629-2.629H54.582V12.887a7.887,7.887,0,0,0-15.775,0,7.887,7.887,0,1,0-15.775,0v7.887H9.887A2.629,2.629,0,0,0,7.258,23.4V39.52a10.017,10.017,0,0,0-2.629-.342,2.629,2.629,0,1,0,0,5.258,5.074,5.074,0,0,1,3.917,1.919,10.069,10.069,0,0,0,14.96,0,4.916,4.916,0,0,1,7.887,0,10.069,10.069,0,0,0,14.96,0,4.943,4.943,0,0,1,7.887,0,10.1,10.1,0,0,0,14.96,0,5.1,5.1,0,0,1,3.786-1.919,2.629,2.629,0,1,0,0-5.258ZM46.695,10.258a2.629,2.629,0,0,1,2.629,2.629v7.887H44.066V12.887A2.629,2.629,0,0,1,46.695,10.258ZM38.807,31.291H28.291V26.033H38.807Zm-10.516-18.4a2.629,2.629,0,0,1,5.258,0v7.887H28.291ZM16.013,44.437a4.627,4.627,0,0,1-3.5-1.577V26.033H23.033V40.2a13.8,13.8,0,0,0-3.1,2.314A5.1,5.1,0,0,1,16.013,44.437Zm18.851-1.919a10.516,10.516,0,0,0-6.573-3.339V36.549H38.807v7.887h0A5.1,5.1,0,0,1,34.864,42.517Zm22.794,0a10.2,10.2,0,0,0-7.467-3.339,9.386,9.386,0,0,0-6.126,2.13V26.033H65.1V42.859a4.654,4.654,0,0,1-3.523,1.577A5.1,5.1,0,0,1,57.658,42.517Z" transform="translate(-2 -5)" fill="#fff"/>
                                                    <path id="Path_10625" data-name="Path 10625" d="M72.986,23.01a10.2,10.2,0,0,0-7.493,3.313,4.943,4.943,0,0,1-7.887,0,10.069,10.069,0,0,0-14.96,0,4.916,4.916,0,0,1-7.887,0,10.069,10.069,0,0,0-14.96,0,4.916,4.916,0,0,1-7.887,0A10.2,10.2,0,0,0,4.629,23.01a2.629,2.629,0,0,0,0,5.258,5.074,5.074,0,0,1,3.917,1.919,10.069,10.069,0,0,0,14.96,0,4.916,4.916,0,0,1,7.887,0,10.069,10.069,0,0,0,14.96,0,4.943,4.943,0,0,1,7.887,0,10.1,10.1,0,0,0,14.96,0,5.1,5.1,0,0,1,3.786-1.919,2.629,2.629,0,1,0,0-5.258Z" transform="translate(-2 24.314)" fill="#fff"/>
                                                </g>
                                            </svg>
                                        p.index-uilities__right--desc Hồ bơi
                                    li.index-uilities__right--items(data-active="4")
                                        .index-uilities__right--img 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="68.981" height="49.499" viewBox="0 0 68.981 49.499">
                                                <g id="noun_beach_1373703" transform="translate(0 15.03)">
                                                    <g id="Group_4797" data-name="Group 4797" transform="translate(0 -15.03)">
                                                    <g id="Group_4796" data-name="Group 4796" transform="translate(0 0)">
                                                        <path id="Path_10626" data-name="Path 10626" d="M42.754.035V6.014h3V.035Zm-7.52,3.082L33.109,5.244,37.36,9.5l2.1-2.126Zm18.042,0L49.025,7.369l2.1,2.126,4.252-4.252ZM44.243,7.5a6.763,6.763,0,1,0,6.749,6.776A6.782,6.782,0,0,0,44.243,7.5Zm0,3.029A3.733,3.733,0,1,1,40.5,14.278,3.709,3.709,0,0,1,44.243,10.531ZM30,12.763v3h6.005v-3Zm22.507,0v3h5.979v-3ZM37.36,19.034l-4.252,4.225,2.126,2.152L39.46,21.16Zm13.764,0-2.1,2.126,4.252,4.252,2.1-2.152ZM2.87,20.177a5.7,5.7,0,0,0-2.046,2.79.765.765,0,0,0,.319,1.089.781.781,0,0,0,1.036-.5,4.452,4.452,0,0,1,1.488-2.073A1.01,1.01,0,0,1,4.7,21.346a2.657,2.657,0,0,1,1.3,1.222.744.744,0,0,0,1.488,0,3.031,3.031,0,0,1,1.3-1.222,1.01,1.01,0,0,1,1.036.133,4.452,4.452,0,0,1,1.488,2.073.781.781,0,0,0,1.036.5.765.765,0,0,0,.319-1.089,5.7,5.7,0,0,0-2.046-2.79,2.807,2.807,0,0,0-2.365-.266,3.7,3.7,0,0,0-1.515,1.143,3.7,3.7,0,0,0-1.515-1.143A3.135,3.135,0,0,0,2.87,20.177Zm14.987,0a6.035,6.035,0,0,0-2.046,2.79.794.794,0,0,0,.345,1.089.746.746,0,0,0,1.01-.5,4.271,4.271,0,0,1,1.515-2.073,1,1,0,0,1,1.036-.133,2.6,2.6,0,0,1,1.275,1.222.779.779,0,0,0,.744.744.8.8,0,0,0,.771-.744,2.833,2.833,0,0,1,1.275-1.222,1,1,0,0,1,1.036.133,4.274,4.274,0,0,1,1.488,2.073.781.781,0,0,0,1.036.5.794.794,0,0,0,.345-1.089,6.035,6.035,0,0,0-2.046-2.79,2.816,2.816,0,0,0-2.365-.266,3.787,3.787,0,0,0-1.541,1.143,3.53,3.53,0,0,0-1.515-1.143,3.135,3.135,0,0,0-2.365.266Zm24.9,2.338v6.005h3V22.515ZM10.363,26.182a5.727,5.727,0,0,0-2.046,2.79.747.747,0,1,0,1.355.585,4.539,4.539,0,0,1,1.515-2.1,1.012,1.012,0,0,1,1.01-.106,2.657,2.657,0,0,1,1.3,1.222.8.8,0,0,0,.744.744.779.779,0,0,0,.744-.744,3.37,3.37,0,0,1,1.3-1.222,1.061,1.061,0,0,1,1.036.106,4.746,4.746,0,0,1,1.488,2.1.8.8,0,0,0,1.036.5.771.771,0,0,0,.319-1.089,5.705,5.705,0,0,0-2.019-2.79,2.731,2.731,0,0,0-2.365-.266,3.8,3.8,0,0,0-1.541,1.116,3.7,3.7,0,0,0-1.515-1.116,3.135,3.135,0,0,0-2.365.266Zm4.624,9.832c-2.764-.186-5.128,2.232-7.493,2.259C4.836,38.113,2.338,36.785,0,36.758v3c2.657.133,5.155,1.488,7.493,1.515,2.763.159,5.155-2.232,7.493-2.259,2.79.531,4.969,2.95,7.52,3,2.923.292,5.049-2.95,7.493-3,2.79.531,4.969,2.95,7.493,3,2.923.292,5.049-2.95,7.493-3,2.79.531,4.969,2.95,7.52,3,2.9.292,5.049-2.95,7.493-3,2.79.531,4.969,2.95,7.493,3v-3c-2.79-.558-4.969-2.949-7.493-3-2.923-.319-5.075,2.95-7.493,3-2.79-.558-4.969-2.949-7.52-3-2.923-.319-5.049,2.95-7.493,3-2.764-.558-4.969-2.949-7.493-3-2.923-.319-5.075,2.95-7.493,3-2.79-.558-4.969-2.949-7.52-3ZM16.5,43.507c-2.763-.186-5.155,2.232-7.493,2.259-2.657-.159-5.155-1.461-7.52-1.488v3c2.684.133,5.182,1.461,7.52,1.488,2.763.159,5.128-2.205,7.493-2.259,2.79.558,4.969,2.949,7.493,3,2.923.319,5.049-2.95,7.493-3,2.79.558,4.969,2.95,7.52,3,2.9.319,5.049-2.95,7.493-3,2.79.558,4.969,2.95,7.493,3,2.923.319,5.049-2.95,7.493-3,2.79.558,4.969,2.95,7.493,3v-3c-2.763-.558-4.942-2.95-7.493-3-2.923-.319-5.049,2.976-7.493,3-2.79-.558-4.969-2.95-7.493-3-2.923-.319-5.075,2.976-7.493,3-2.79-.558-4.969-2.95-7.52-3-2.923-.319-5.049,2.976-7.493,3-2.763-.558-4.969-2.95-7.493-3Z" transform="translate(0 -0.035)" fill="#fff"/>
                                                    </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        p.index-uilities__right--desc Bãi tắm công cộng
                                    li.index-uilities__right--items(data-active="5")
                                        .index-uilities__right--img 
                                            <svg id="noun_Parking_3371890" xmlns="http://www.w3.org/2000/svg" width="57.513" height="57.513" viewBox="0 0 57.513 57.513">
                                                <path id="Path_10627" data-name="Path 10627" d="M47.322,51.48h-.928V50.274a8.07,8.07,0,0,0-1.772-5.037,7.635,7.635,0,0,0-1.382-1.354,3.237,3.237,0,0,0-1.02-6.317H40.495l-1.048-2.783A3.711,3.711,0,0,0,35.857,32H25.393a3.71,3.71,0,0,0-3.59,2.783l-1.048,2.783H19.03a3.237,3.237,0,0,0-1.02,6.317,7.634,7.634,0,0,0-1.382,1.354,8.07,8.07,0,0,0-1.772,5.037V51.48h-.928a.928.928,0,0,0-.928.928v3.71a.928.928,0,0,0,.928.928H16.71v.928a2.783,2.783,0,0,0,2.783,2.783H23.2a2.783,2.783,0,0,0,2.783-2.783v-.928h9.276v.928a2.783,2.783,0,0,0,2.783,2.783h3.71a2.783,2.783,0,0,0,2.783-2.783v-.928h2.783a.928.928,0,0,0,.928-.928v-3.71A.928.928,0,0,0,47.322,51.48Zm-5.1-12.059a1.391,1.391,0,1,1,0,2.783l-1.039-2.783ZM23.556,35.377v-.1a1.855,1.855,0,0,1,1.837-1.419H35.857a1.855,1.855,0,0,1,1.855,1.419v.1l2.662,7.1a7.829,7.829,0,0,0-2.05-.269h-15.4a7.829,7.829,0,0,0-2.031.269ZM19.03,39.421h1.03L19.02,42.2a1.391,1.391,0,0,1,0-2.783ZM16.71,50.274a6.224,6.224,0,0,1,6.215-6.215h15.4a6.224,6.224,0,0,1,6.215,6.215V51.48H16.71Zm7.421,7.7a.928.928,0,0,1-.928.928h-3.71a.928.928,0,0,1-.928-.928v-.928h5.566Zm18.552,0a.928.928,0,0,1-.928.928h-3.71a.928.928,0,0,1-.928-.928v-.928h5.566Zm3.71-2.783H14.855V53.335H46.394Z" transform="translate(-1.869 -3.244)" fill="#fff"/>
                                                <path id="Path_10628" data-name="Path 10628" d="M23.71,46C21.633,46,20,47.224,20,48.783s1.633,2.783,3.71,2.783,3.71-1.224,3.71-2.783S25.788,46,23.71,46Zm0,3.71c-1.132,0-1.855-.547-1.855-.928s.724-.928,1.855-.928,1.855.547,1.855.928S24.842,49.71,23.71,49.71Z" transform="translate(-2.375 -4.257)" fill="#fff"/>
                                                <path id="Path_10629" data-name="Path 10629" d="M39.71,46C37.633,46,36,47.224,36,48.783s1.633,2.783,3.71,2.783,3.71-1.224,3.71-2.783S41.788,46,39.71,46Zm0,3.71c-1.132,0-1.855-.547-1.855-.928s.724-.928,1.855-.928,1.855.547,1.855.928S40.842,49.71,39.71,49.71Z" transform="translate(-3.533 -4.257)" fill="#fff"/>
                                                <path id="Path_10630" data-name="Path 10630" d="M61.349,55.987h-.928V43.928A.928.928,0,0,0,59.493,43h-3.71a.928.928,0,0,0-.928.928V55.987h-.928a.928.928,0,0,0-.928.928v3.71a.928.928,0,0,0,.928.928h7.421a.928.928,0,0,0,.928-.928v-3.71A.928.928,0,0,0,61.349,55.987Zm-2.783-4.638H56.71V49.493h1.855Zm0-6.493v2.783H56.71V44.855ZM56.71,53.2h1.855v2.783H56.71ZM60.421,59.7H54.855V57.842h5.566Z" transform="translate(-4.764 -4.04)" fill="#fff"/>
                                                <path id="Path_10631" data-name="Path 10631" d="M24.928,23.552H37.914a.928.928,0,0,0,.928-.928V5.928A.928.928,0,0,0,37.914,5H24.928A.928.928,0,0,0,24,5.928v16.7A.928.928,0,0,0,24.928,23.552Zm.928-16.7H36.987V21.7H25.855Z" transform="translate(-2.665 -1.29)" fill="#fff"/>
                                                <path id="Path_10632" data-name="Path 10632" d="M31.71,9H28.928A.928.928,0,0,0,28,9.928v10.2h1.855v-3.71H31.71A3.71,3.71,0,0,0,31.71,9Zm0,5.566H29.855v-3.71H31.71a1.855,1.855,0,1,1,0,3.71Z" transform="translate(-2.954 -1.579)" fill="#fff"/>
                                                <path id="Path_10633" data-name="Path 10633" d="M58.513,13.059V11.2H40.888V1.928A.928.928,0,0,0,39.96,1H19.552a.928.928,0,0,0-.928.928V11.2H1v1.855H18.625v1.855H1V16.77H18.625v9.276a.928.928,0,0,0,.928.928H39.96a.928.928,0,0,0,.928-.928V16.77H58.513V14.914H40.888V13.059ZM39.033,25.118H20.48V2.855H39.033Z" transform="translate(-1 -1)" fill="#fff"/>
                                                <path id="Path_10634" data-name="Path 10634" d="M9.349,55.987H8.421V43.928A.928.928,0,0,0,7.493,43H3.783a.928.928,0,0,0-.928.928V55.987H1.928A.928.928,0,0,0,1,56.914v3.71a.928.928,0,0,0,.928.928H9.349a.928.928,0,0,0,.928-.928v-3.71A.928.928,0,0,0,9.349,55.987ZM6.566,51.349H4.71V49.493H6.566Zm0-6.493v2.783H4.71V44.855ZM4.71,53.2H6.566v2.783H4.71ZM8.421,59.7H2.855V57.842H8.421Z" transform="translate(-1 -4.04)" fill="#fff"/>
                                            </svg>
                                        p.index-uilities__right--desc Bãi đổ xe miễn phí
                        

            