section#index5 
    .index5
        .container 
            .map__wrapper(data-aos="zoom-in", data-aos-duration="500",data-aos-delay="150")
                .map__wrapper--map#map
                    //- iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.7545318774883!2d108.25529691528816!3d15.974190246219882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142108bc85131af%3A0xe0e536208d071afc!2sThe%20American%20University%20in%20Vietnam%20(AUV)!5e0!3m2!1sen!2s!4v1615886539772!5m2!1sen!2s", frameborder="0") 
                .map__wrapper--infor.active
                    .pic__infor
                        .image__map 
                            img.lazyload(data-src="./assets/images/page/index/i5-img.png", alt="")
                        .introduce-text
                            .introduce-text--title 
                                p HÒA BÌNH PHÚ QUỐC RESORT
                            .introduce-text--infor
                                .infor--item
                                    .item
                                        p.footerNav__link 71 Trần Hưng Đạo, Khu phố 7, phường Dương Đông, thành phố Phú Quốc, Tỉnh Kiên Giang
                                .infor--item
                                    .item
                                        img.lazyload(data-src="./assets/images/page/footer/email.png", alt="email")
                                        p.footerNav__link info@hoabinhphuquoc.com.vn
                                .infor--item
                                    .item
                                        img.lazyload(data-src="./assets/images/page/footer/hotline.png", alt="phone")
                                        .phone__number
                                            p.footerNav__link 0941 178 178
                .map__wrapper--btnclose
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                        <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                            <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                    </svg>