section#index6 
    .index6
        .index-discover 
            .title-primary
                h2.title-shadow KhámPhá
                h2.title-content Điểm đến
            .index-discover__intro 
                p Bên cạnh sự phát triển mạnh mẽ của loại hình du lịch nghỉ dưỡng đã được khẳng định, Phú Quốc còn là điểm đến lý tưởng cho các hoạt động khám phá thiên nhiên kỳ thú có thể làm lạc bước chân du khách khi đặt chân đến hòn đảo xinh đẹp này
            .index-discover__content
                .index-discover__slide.swiper-button__replace
                    .index-discover--swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide 
                                .content 
                                    .content__box
                                        .content__img.overlay-gradient
                                            img(src="./assets/images/page/index/i6-img-1.png" alt="")
                                            .content__infor
                                                .content__infor--title
                                                    h2 Bãi Biển phú quốc
                                                .content__infor--desc 
                                                    p Phú Quốc có nhiều bãi biển đẹp trải dài từ phía bắc đến phía nam, có 99 ngọn núi đồi và dãy rừng nguyên sinh với hệ động thực vật phong phú. Phía Bắc của đảo có làng chài Rạch Vẹm, Bãi Thơm, Hòn Một,… nổi bật với vẻ đẹp hoang sơ hay ở Nam Đảo có 12 hòn đảo nhỏ to khác nhau thuộc quần đảo An Thới có thể kể đến như Hòn Thơm, Hòn Móng Tay, Hòn Gầm Ghì, Hòn Mây Rút,… 
                            .swiper-slide   
                                .content 
                                    .content__box 
                                        .content__img.overlay-gradient
                                            img.content__img--size(src="./assets/images/page/index/i6-img-3.png" alt="")
                                            .content__infor
                                                .content__infor--title
                                                    h2 LẶNG NGẮM SAN HÔ
                                                .content__infor--desc 
                                                    p Phú Quốc có nhiều bãi biển đẹp trải dài từ phía bắc đến phía nam, có 99 ngọn núi đồi và dãy rừng nguyên sinh với hệ động thực vật phong phú. Phía Bắc của đảo có làng chài Rạch Vẹm, Bãi Thơm, Hòn Một,… nổi bật với vẻ đẹp hoang sơ hay ở Nam Đảo có 12 hòn đảo nhỏ to khác nhau thuộc quần đảo An Thới có thể kể đến như Hòn Thơm, Hòn Móng Tay, Hòn Gầm Ghì, Hòn Mây Rút,… 
                            .swiper-slide 
                                .content
                                    .content__box.overlay-gradient
                                        .content__img 
                                            img(src="./assets/images/page/index/i6-img-2.png" alt="")
                                            .content__infor
                                                .content__infor--title
                                                    h2 CHỢ ĐÊM PHÚ QUỐC
                                                .content__infor--desc 
                                                    p Phú Quốc có nhiều bãi biển đẹp trải dài từ phía bắc đến phía nam, có 99 ngọn núi đồi và dãy rừng nguyên sinh với hệ động thực vật phong phú. Phía Bắc của đảo có làng chài Rạch Vẹm, Bãi Thơm, Hòn Một,… nổi bật với vẻ đẹp hoang sơ hay ở Nam Đảo có 12 hòn đảo nhỏ to khác nhau thuộc quần đảo An Thới có thể kể đến như Hòn Thơm, Hòn Móng Tay, Hòn Gầm Ghì, Hòn Mây Rút,… 
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247">
                                <g id="Group_4724" data-name="Group 4724" transform="translate(-1707.523 -2418.824)">
                                    <path id="Path_123" data-name="Path 123" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(4.714 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path id="Path_124" data-name="Path 124" d="M1709.143,2416.143l4.816,5.448-4.816,4.974" transform="translate(-0.206 4.093)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>

                        .swiper-button-prev   
                            svg(xmlns="http://www.w3.org/2000/svg" width="12.15" height="13.247" viewBox="0 0 12.15 13.247")
                                g(id="Group_4724" data-name="Group 4724" transform="translate(1 1.412)")
                                    path(id="Path_123" data-name="Path 123" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1709.143 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                                    path(id="Path_124" data-name="Path 124" d="M1713.959,2416.143l-4.816,5.448,4.816,4.974" transform="translate(-1704.223 -2416.143)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")